.admin-dashboard {

  .metrics {
    width: 100%;
    margin-bottom: 20px;
  }

  .metric {
    display: inline-block;
    width: 150px;
    height: 120px;
    margin: 9px;
    text-align: center;
    background-color: #232526;
    color: white;
    border: 1px solid #323434;
    border-radius: 3px;

    .name {
      font-size: 12px;
      height: 17px;
      padding: 10px 15px 11px;
      text-transform: uppercase;
      border-bottom: 1px solid #151617;
    }

    .value {
      border-top: 1px solid #303334;
      font-size: 45px;
    }
  }

}