/*------------------- Designers List ------------------ */
.designers{
	>li{
		padding-bottom:40px;
		margin-bottom:40px;
		border-bottom:1px $lightgrey4 solid;
		overflow:hidden;
		textarea {
			display: block;
			margin: 10px 0;
			height: 75px;
		}
		ul.actions {
			clear: both;
			li {
				padding-left: 20px;
				background: image-url('site16.png') no-repeat left 5px;
				&.site { background: image-url('site16.png') no-repeat left 5px; }
				&.dribbble { background: image-url('dribbble16.png') no-repeat left 5px; }
				&.twitter { background: image-url('twitter16.png') no-repeat left 5px; }
				&.behance { background: image-url('behance16.png') no-repeat left 5px; }
			}
		}
	}
	.featured-work{
		margin-bottom:10px;
	}
	.bio{
		h2{
			margin-bottom:5px;
			font-size: 24px
		}
		h4{
			color:$darkgrey1;
			font-weight:normal;
			font-size:20px;
			margin-bottom:5px;
		}
		p{
			margin-bottom:0;
		}
	}
}
.designer{
	@include cf;
	.bio{
		margin-bottom: 10px;
	}
	.col2{

	}
}
/*------------------- Designer Profile ------------------ */
.featured-work{
	a.image{
		border:2px solid $darkgrey2;
		background:white;
		padding:2px;
		display:inline-block;
		@include box-shadow( rgba(0,0,0,0.15) 0px 1px 1px 0px);

		img{
			background:image-url('ajax-loader.gif') no-repeat center center;

			display:block;
			width:192px;
			min-height:150px;
		}
	}
	.caption{
		text-align:center;
		color:$darkgrey2;
		font-style:italic;
		font-size:13px;
		line-height:1.5;
		margin-top:10px;
	}
}
.designer-profile .featured-work{
	a.image{
		width:320px;
		img{
			width:312px;
		}
	}
}