.designer-project {

  .artworks {
    margin-top: 35px;
  }

  .spinner {
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 auto;
    background:image-url('ajax-loader.gif') no-repeat center center;
    &.hidden {
      visibility: hidden;
    }
  }

}