.designer-project {

  .artworks {
    margin-top: 35px;
    .crop {
      &:before {
        content: ' - ';
        color: $darkgrey1;
      }
    }
  }

  .upload-placeholder {
    height: 300px;
    width: 400px;
    background-image: image-url('project-placeholder-upload.png');
    background-size: contain;
    form, input[type=file] {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    input[type=file] {
      opacity: 0;
    }
    margin-bottom: 50px;
  }

  .spinner {
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 auto;
    background:image-url('ajax-loader.gif') no-repeat center center;
    &.hidden {
      visibility: hidden;
    }
  }

}

.submit-crop {
  display: block !important;
  width: 175px;
  margin: 10px auto 0;
}
