.artwork {
  .upload-placeholder {
    height: 225px;
    width: 300px;
  }
  .upload-spinner-placeholder {
    height: 225px;
    width: 300px;
    .spinner {
      left: 142px;
      top: 105px;
    }
  }
}

.designer-projects {
  margin-top: -5px;

  .project {
    position: relative;
    border-bottom:1px solid $lightgrey1;
    @include cf;
    padding: 12px 0;
    display: block;
    height: 100px;
    width: 100%;
    margin:0;
    cursor: pointer;
    padding-left: 5px;
    .placeholder {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
    .description {
      width: 400px;
      height: 50px;
      overflow: hidden;
      color: $lightgrey5;
    }
    .artwork {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 80px;
    }
    &:hover {
      background: $lightgrey2;
    }
    &:last-child {
      border-bottom: none;
    }
  }

}


.designer-project {

  .delete-project {
    float: right;
    color: $red1;
    font-weight: normal;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  }

}