.reply-offer{
  position: relative;
  background:white;
  padding:0 20px 20px 20px;
  margin-bottom:40px;
  background: $lightgrey2;
  text-align: center;
  border-radius: 3px;
  .upload-projects-prompt{
    position: absolute;
    top: 40px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: white;
    z-index: 100;
    padding: 10px 20px;
    text-align: center;
    border: 3px solid $background;
    border-radius: 3px;
    .red{
      color: $red1;
    }
    h2{
      color: $text;
      font-style: italic;
      font-size: 24px;
      margin-bottom: 5px;
    }
    a.prompt-upload{
      display: inline-block;
      margin: 0 0 5px 0;
    }
    a.prompt-nothanks{
      display: block;
      font-size: 14px;
    }
  }
  h2{
    font-weight:bold();
    font-size:16px;
    line-height:40px;
    color: $lightertext;
  }

  label{
    display: block;
    font-size:15px;
    font-style:italic;
    margin:0;
    color:$darkgrey2;
    text-align: center;
    margin-bottom: 10px;
  }

  .input {
    margin-bottom: 30px;
  }

  .button{
    display: inline-block;
    margin:0 auto;
  }

  textarea{
    width: 260px;
    height: 150px;
    border: 1px solid $lightgrey4;
    @include border-radius(3px);
    @include box-shadow(inset $lightgrey2  0px 0px 0px 3px);
    background:#fcfcfc;
    font-family:monospace;
    font-size:14px;
    padding:10px;
    line-height:1.35em;
    margin:0;
    &:focus {
      outline:none;
      background:#f1f6f8;
      @include box-shadow(inset $lightgrey4  0px 0px 0px 3px);
    }
  }
  .remaining{
    text-align:center;
  }
  .inline-errors {
    font-size: 14px;
  }
  .limited_text{
    position: relative;
  }
  .character-counter-main-wrapper {
    position: absolute;
    bottom: -22px;
    margin: 0;
    text-align: center;
    width: 100%;
  }  
}