@import "compass/css3/transform";
@import "compass/css3/border-radius";

@import "mixins/colors";

$node_width:100px;
$node_margin:48px;
$node_diagonal:$node_width/sqrt(2);
$node_vertical_margin:30px;

$b_node_line_x:$node_width/4+$node_margin;
$b_node_line_y:3*$node_width/4+$node_vertical_margin;
$b_node_line_width:sqrt(pow($b_node_line_x, 2)+pow($b_node_line_y, 2));

$b_angle:#{rad-to-deg(asin($b_node_line_y/$b_node_line_width))}deg;
// $b_angle:54deg;

.flowchart, .block .flowchart{
	list-style-type:none;
	margin:0;
	padding:0;
	li{
		float:left;
		margin:0 $node_margin 0 0;
		display:block;
		padding:0;
		.item{
			display: table;
			height:$node_width;
			width:$node_width;
			position:relative;
			p{
				padding:10px;
				display: table-cell;
				vertical-align: middle;
				text-align:center;
				font-size:14px;
			}
			&:before{
				position:absolute;
				width:$node_margin;
				height:1px;
				background:$lightgrey1;
				display:block;
				content:" ";
				top:$node_width/2;
				left:-$node_margin;
				// background:image-url("flowchart-arrow.png") no-repeat top right;
				// height:18px;
			}
			&:nth-child(2){
				&:before{
					width:#{$b_node_line_width}px;
					left:-#{$b_node_line_width}px;
					@include transform-origin(right, bottom);
					@include rotate($b_angle);
				}
				p:before{
					top:0px !important;
				}
			}
		}
		&:first-child .item:before{
				display:none;
		}
		&.node{
			.item{
				margin-bottom:$node_vertical_margin;
				background:$green2 image-url("flowchart-plus.png") center center no-repeat;
				@include border-radius(10px);
				// border:3px solid $green1;
				// @include box-shadow(0 0 0px 3px $green1);
				&:last-child{
					margin-bottom:0;
				}
				p{
					position:relative;
					&:last-child{
					margin-bottom:0;
					}
					&.yes:before, &.no:before, &.not-sure:before{
						display:block;
						position:absolute;
						left:#{-($node_margin/2 + 20px)};
						top:#{$node_width/2 - 12px};
						height:18px;
						@include border-radius(20px);
						width:30px;
						background:$lightgrey2;
						padding:3px 5px;
						font-size:13px;
						font-weight:bold;
					}
					&.yes:before{
						content:"Yes";
					}
					&.not-sure:before{
						content:"not sure";
					}
					&.no:before{
						content:"No";
					}
				}
				&.submit-project{
					background-image:image-url("flowchart-plus.png");
				}
				&.send-project{
					background-image:image-url("flowchart-email.png");
				}
				&.fix-description{
					background-image:image-url("flowchart-edit.png");
					&:after{
						position:absolute;
						height:$node_vertical_margin;
						width:1px;
						background:$lightgrey1;
						display:block;
						content:" ";
						top:-$node_vertical_margin;
						left:$node_width/2;
					}
				}
				&.designers{
					background-image:image-url("flowchart-designer.png");
				}
				&.success{
					background-image:image-url("flowchart-check.png");
				}
				&.refund{
					background-image:image-url("flowchart-refund.png");
				}
				&.pay-fee{
					background-image:image-url("flowchart-dollar.png");
				}
			}
			.result{
				display:none;
			}
		}
		&.decision{
			position:relative;
			&:before{
				content:" ";
				display:block;
				height:$node_diagonal;
				width:$node_diagonal;
				top:($node_width - $node_diagonal)/2;
				left:($node_width - $node_diagonal)/2;
				background:$lightgrey2;
				@include transform-origin(center, center);
				@include rotate(45deg);
				position:absolute;
				z-index:1;
			}
			p{
				position:relative;
				z-index:20;
			}
		}
	}
	li:last-child{
		margin-right:0;
	}
}