@import "mixins/colors";
@import "mixins/mixins";

.referral-programs {
  margin-top: -5px;

  .program {
    position: relative;
    border-bottom:1px solid $lightgrey1;
    @include cf;
    padding: 12px 0;
    display: block;
    height: 100px;
    width: 100%;
    margin:0;
    cursor: pointer;
    padding-left: 5px;
    .placeholder {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
    .message {
      width: 400px;
      height: 50px;
      overflow: hidden;
      color: $lightgrey5;
    }
    &:hover {
      background: $lightgrey2;
    }
    &:last-child {
      border-bottom: none;
    }
  }

}


.referral-program {

  .delete-program {
    float: right;
    color: $red1;
    font-weight: normal;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  }

}
