= content_for :title, 'Your portfolio'
= content_for :mainaction do
  = link_to 'Add a project', new_designer_project_path(@designer), class: 'button big-button'

.block
  %h3 What's this?
  %p Ego vero sic intellego, Patres conscripti, nos hoc tempore in provinciis decernendis perpetuae pacis habere oportere rationem. Nam quis hoc non sentit omnia alia esse nobis vacua ab omni periculo atque etiam suspicione belli?

- unless @designer_projects.empty?
  .block
    %h3 Your projects
    %ul
      - @designer_projects.each do |p|
        %li
          %h4= p.name
