
$darkBlue: #657985;
$darkerBlue: #4d616e;
$darkestBlue: #30404A;
$lightText: #fff;
$green: #6DC339;
$lightBlue: #94C5E5;
$darkText: #485056;

$background: $darkerBlue;
$primaryButton: $green;
$secondaryButton: $darkBlue;