.project{
	.project-image, .project-placeholder {
		display: block;
		margin-bottom: 5px;
		img{
      background-image: image-url('project-placeholder-empty.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: transparent;
			width: 100%;
			display: block;
		}
		border: 2px solid transparent;
	}
	.project-image {
		cursor: pointer;
    &:hover {
      border-color: $green;
    }
  }

  .project-title, .project-description {
  	margin-left: 2px;
  }

	.project-description{
		margin-bottom: 0;
	}
  .replies-list &, .reply-carrousel-item &, .designer-profile &{
    margin-bottom: $spacing;
    @include medium{
      @include span-columns(4);
      @include nth-omega(3n, of-type);
    }
  }
}