.project{
	margin-bottom: $spacing;
	@include medium{
		@include span-columns(4);
		@include nth-omega(3n, of-type);
	}
	.project-image{
		display: block;
		margin-bottom: $halfspacing;
		img{
			width: 100%;
			display: block;
		}
	}
	.project-description{
		margin-bottom: 0;
	}
}