.footer{
	padding: $mbottom 0;
	background:$darkerBlue;
	.secondary-actions{
		list-style-type:none;
		padding:0;
		margin:0;
		@include cf;
		li{
			display:block;
			margin-bottom:20px;
			@include medium{
				margin-right:2%;
				// margin-bottom:4%;
				width:32%;
				float:left;
				&:nth-child(3n){
					margin-right:0;
				}
			}
			@include medium{
				// @include span-columns(6);
				// @include nth-omega(2n, of-type);
			}
			.button{
				display:block;
				padding:20px;
				background:white(0.1);
				&:hover{
					background: white(0.2);	
				}
			}
		}
	}
	.links{
		color: white(0.35);
		font-size:14px;
		list-style-type:none;
		text-align:center;
		li{
			display:inline-block;
			margin-right:10px;
			&:last-child{
				margin-right:0px;
			}
		}
		a{
			color:white;
			text-shadow:black(0.35) 0px 1px 2px;
		}
	}
}