form{
	list-style-type:none;
	*{
		@include box-sizing(border-box);
	}
	.input{
		margin-bottom:40px;
		position:relative;
	}
	.input.small-margin{
		margin-bottom:10px;
	}
	.input.error {

		input, textarea{
			background:#fedee3;
			color:#c62910;
			border-color:#dd887a;
			@include box-shadow(inset #ffc5bb  0px 0px 0px 3px);
		}

		input[type=checkbox], input[type=radio] {
			border: none;
			@include box-shadow(none);
		}

		&.check_boxes, &.radio{
			background:#fedee3;
			padding:10px;
		}

		.inline-errors{
			display:block;
			line-height:30px;
			color:#c62910;
			font-weight:bold;
			margin:0;
		}
	}
	input.readonly {
		color: #628B9E;
		background: rgba(198, 210, 216, 0.29);
	}
	.markdown{
		label{
			.markdown-logo{
				content:" ";
				display:inline-block;
				overflow:hidden;
				text-indent:900px;
				background:url(image_path("markdown-mark.svg")) no-repeat center center;
				height:15px;
				width:24px;
				background-size:24px 15px;
				opacity:0.4;
				margin-left:5px;
				vertical-align:middle;
			}
		}
	}
}
.check_boxes label.checkbox {
	width: 50%;
	display: inline-block;
}
.section{
	margin-bottom:40px;
}
.string input, .password input, .text textarea, .email input, .url input, input[type=text],input[type=number] {
	width:100%;
	padding:10px;
	background:white;
	border:1px solid $lightgrey4;
	@include border-radius(3px);
	@include box-shadow(inset $lightgrey2  0px 0px 0px 3px);
	font-size:16px;
}
body.log-in{
	.string input, .password input, .email input{
		width:338px;
	}
}
.text textarea {
	font-size:14px;
	padding:10px;
	line-height:1.5;
	height:300px;
	max-width:498px;
	width:100%;
}

input:focus, .text textarea:focus{
	outline: none;
	background:#f1f6f8;
	@include box-shadow(inset $lightgrey4  0px 0px 0px 3px);
}

input[type=submit]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
	outline: auto;
	@include box-shadow(none);
}

label{
	display:block;
	line-height:25px;
	margin-bottom:5px;
	color:$darkgrey2;
}
.inline-hints{
	@include border-left-radius(3px);
	display:block;
	@include box-shadow(black(0) 0px 1px 0px 0px);
	padding:10px;
	font-size:13px;
	@include letterpress(0.8);
	color:rgba(122,141,153, 0.75);
	@include transition-property(all);
	@include transition-duration(500ms);
	border:2px solid white(0);
	&.in-focus{
		border-color:$lightBlue;
		color:$darkgrey1;
		@include box-shadow(black(0.15) 0px 1px 1px 0px);
	}
	@include small{
		margin-top:1px;
		background:#efefef;
	}
	@include medium{

		min-width:300px;
		position:absolute;
		left:100%;
		right:-70%;
		margin-left:20px;
		top:20px;
		&.in-focus{
			margin-left:10px;
			margin-right:10px;
		}
	}
	&.with-title {
		top: 0px;
	}
	span{
		display:block;
		margin-bottom:10px;
		&.title{
			font-size:18px;
			font-weight:bold;
			color:$darkgrey2;
		}
		&.bottom{
			border-top:1px black(0.15) solid;
			padding-top:10px;
		}
		&:last-child{
			margin-bottom:0;
		}
	}
}

.forgot-password{
	font-size:13px;
	display:block;
}
.radio_buttons, .check_boxes{

	label {
		border-bottom:1px $lightgrey2 solid;
		padding-top:5px;
		display:block;
	}
	.radio{
		margin-bottom:5px;
		border-bottom:1px $lightgrey2 solid;
		padding-bottom:5px;
		label{
			color:$darkgrey1;
			margin:0;
		}
	}
}

li.loading{
	background:image-url('ajax-loader.gif') no-repeat 430px 32px;
}
.coding-note{
	@include transition-property("height, opacity");
	@include transition-duration(400ms);
	@include transition-timing-function(ease-out);
	&.hidden{
		height:0;
		opacity:0;
		@include transition-property("height, opacity");
		@include transition-duration(400ms);
		@include transition-timing-function(ease-out);
	}
}

.character-counter-main-wrapper {
	display: none;
	color: $darkgrey2;
	font-size: 14px;
	font-style: italic;
	text-align: right;
	margin-top: -30px;
	margin-bottom: 8px;
	&.exceeded {
		color: $red1;
	}
}
