@include border-box-sizing;

// at 40em (16*40=640px) switch to a 12-column layout
$small-break: 40em;

@mixin small(){
  @media screen and (max-width: $small-break) {
    @content;
  }
}
@mixin medium(){
  @media screen and (min-width: $small-break) {
    @content;
  }
}

$total-columns  : 12;
$column-width   : 40px;
$gutter-width   : 40px;
$grid-padding   : 0px;

$mbottom: 40px;

.container{
	@include container;
	@include small{
		padding:0 10px;
		overflow-x: hidden;
	}
	@include medium{
		padding:0 20px;
	}
}

.main {
	padding-top:40px;
	padding-bottom:40px;
	@include medium{
		@include span-columns(7);
	}
}
.sidebar {
	@include medium{
		margin:40px 0;
		@include span-columns(5 omega);
	}
	padding:20px;
	background: $lightgrey7;
	@include border-radius(5px);
}

body.no-sidebar{	
	.main{
		width:100%;
		margin-right:0;
	}
	.sidebar{
		display:none;
	}
}
