$spacing: 40px;
$quarterspacing: $spacing/4;
$halfspacing: $spacing/2;
$doublepsacing: $spacing*2;

@include border-box-sizing;

// at 40em (16*40=640px) switch to a 12-column layout
$small-break: 40em;

@mixin small(){
  @media screen and (max-width: $small-break) {
    @content;
  }
}
@mixin medium(){
  @media screen and (min-width: $small-break) {
    @content;
  }
}

$total-columns  : 12;
$column-width   : 45px;
$gutter-width   : $spacing;
$grid-padding   : 0px;

$mbottom: $spacing;


.body{
	@include small{
		overflow-x: hidden;
	}
}
.container{
	@include container;
	@include small{
		padding:0 10px;
	}
	@include medium{
		padding:0 20px;
	}
}

.main {
	margin-bottom:$spacing;
	@include medium{
		@include span-columns(7);
	}
}
.sidebar {
	margin-bottom:$spacing;
	@include medium{
		@include span-columns(5 omega);
	}
}

body.no-sidebar{	
	.main{
		width:100%;
		margin-right:0;
	}
	.sidebar{
		display:none;
	}
}
