.message-contents{
	padding:15px;
	background:white;
	@include border-radius(5px);
	@include box-shadow(0px 3px 12px 0px black(0.25), inset 0 0 0 3px $green);
	color:$darkText;
	font-size:16px;
	position: relative;
	&:after, &:before{
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
}

@mixin top-arrow(){
	// top arrow
	&:after, &:before {
		bottom: 100%;
		margin-bottom:-3px;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: #ffffff;
		border-width: 10px;
		left: 50%;
		margin-left: -10px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: $green;
		border-width: 14px;
		left: 50%;
		margin-left: -14px;
	}
}

@mixin right-arrow(){
	// right arrow
	&:after, &:before {
		left: 100%;
		margin-left:-3px;
	}
	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-left-color: #ffffff;
		border-width: 10px;
		top: 50%;
		margin-top: -10px;
	}
	&:before {
		border-color: rgba(0, 0, 0, 0);
		border-left-color: $green;
		border-width: 14px;
		top: 50%;
		margin-top: -14px;
	}
}

@mixin left-arrow(){
	// left arrow
	&:after, &:before {
		right: 100%;
		left:inherit;
		margin-left:inherit;
		margin-right:-3px;
	}
	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #ffffff;
	}
	&:before {
		border-color: rgba(0, 0, 0, 0);
		border-right-color: $lightBlue;
	}
}

.message{
	position:relative;
	margin: 0px auto 40px auto;
	@include small{
		padding-top:120px;
	}
	.home &{
		@include medium{
			width: columns(7);
		}
	}
	.contents{

		@extend .message-contents;

		@include small{
			@include top-arrow;
		}
		@include medium{
			@include right-arrow;
		}
	}
	.avatar{
		position:absolute;
		@include box-shadow(0px 3px 7px 0px black(0.35));
		@include small{
			top:0px;
			left:50%;
			margin-left:-40px;
		}
		@include medium{
			right:-110px;
			top:50%;
			margin-top:-40px;
		}
		.js-animate &{
			@include transform(scale(0));
			@include animation-name(bounceIn);
		}
	}
	&.animate .avatar{
		@include animation-fill-mode(both);
		@include animation-duration(700ms);
	}
}
.message-company{
	margin-bottom:60px;
	.contents{
		@include box-shadow(0px 3px 12px 0px black(0.25), inset 0 0 0 3px $lightBlue);
		@include small{
			// top arrow
			&:before{
				border-bottom-color: $lightBlue;
			}
		}
		@include medium{
			@include left-arrow;
		}
	}
	.avatar{
		@include medium{
			left:-110px;
		}
	}
}
.avatar{
	position:relative;
	height:80px;
	width:80px;
	display:block;
	// @include box-shadow(0 2px 3px black(0.35));
	@include border-radius(50%);
	// @include border-radius(10px);
	img{
		@include border-radius(50%);
		// @include border-radius(10px);
		width:100%;
		display:block;
	}
	.name{
		display:block;
		text-align:center;
		position:absolute;
		width:200px;
		white-space:nowrap;
		color:white;
		left:-60px;
		font-size:14px;
		margin-top:5px;
		text-shadow: 0px 2px 3px black(0.45);
		font-weight: bold();
	}
}

.main-header .back {
	color: white;
	font-size: 18px;
	&:hover {
		color: rgba(0, 0, 0, 0.7);
	}
}

.reply-navigation {
	position: relative;
	top: 5px;
	a {
		color: white;
		&:hover {
			color: rgba(0, 0, 0, 0.7);
		}
		&.previous {
			margin-right: 30px;
		}
		&.disabled {
			color: gray;
			cursor: not-allowed;
		}
	}
}

// steps
.js-animate{
	.step{
		opacity:0;
		@include single-transition();
	}
	.step.animate{
		opacity:1;
	}
}



@include keyframes(bounceIn){
	0% {
		opacity: 0;
		@include transform(scale(.3));
	}
	80% {
		opacity: 1;
		@include transform(scale(1.05));
	}
	100% {
		@include transform(scale(1));
	}
}

// messages

.js-animate{
	.home .message .contents{
		@include transform(translateX(2000px));
		@include animation-name(bounceInRight);
	}
	.home .message-company .contents{
		@include transform(translateX(-2000px));
		@include animation-name(bounceInLeft);
	}
	.home .message.animate .contents{
		@include animation-fill-mode(both);
		@include animation-delay(300ms);
		@include animation-duration(700ms);
	}
}

@include keyframes(bounceInRight){
	0% {
		opacity: 0;
		@include transform(translateX(2000px));
	}
	60% {
		opacity: 1;
		@include transform(translateX(-30px));
	}
	80% {
		@include transform(translateX(10px));
	}
	100% {
		@include transform(translateX(0px));
	}
}
@include keyframes(bounceInLeft){
	0% {
		opacity: 0;
		@include transform(translateX(-2000px));
	}
	60% {
		opacity: 1;
		@include transform(translateX(30px));
	}
	80% {
		@include transform(translateX(-10px));
	}
	100% {
		@include transform(translateX(0px));
	}
}
