.replies-header{
	border-bottom: 2px solid $lightgrey1;
	font-weight: bold;
	@include cf;
	padding-bottom: 10px;
	color: $lightertext;
	@include small{
		display: none;
	}
	@include medium{
		.header-designer{
			@include span-columns(3);
		}
		.header-message{
			@include span-columns(7);
		}
		.header-location{
			@include span-columns(2 omega);
		}
	}
}
.replies{
	border-top: 1px solid $lightgrey1;
}
.reply{
	border-bottom:1px solid $lightgrey1;
	@include cf;
	padding: 12px 0;
	display: block;
	cursor: pointer;
	margin: 0;
	position: relative;
	height: 107px;
	.placeholder{
		position: absolute;
		top: 0px;
		left: 0px;
		bottom:0px;
		right:0px;
		z-index: 100;
	}
	.reply-name{
		font-size: 16px;
	}
	.reply-location{
		color: $lightesttext;
	}
	.reply-designer{
		@include cf;
		white-space: nowrap;
		padding-left: 80px;
		padding-top: 15px;
		overflow-x: hidden;
		@include medium{
			@include span-columns(7);
		}
		&.full {
			width: 98%;
		}
	}
	.reply-avatar{
		width:60px;
		height: 60px;
		float: left;
		position: absolute;
		top: 22px;
		left:10px;
		background-image: image-url('default-avatar.png');
		background-size: 60px 60px;
	}
	.reply-infos{
		margin-bottom: 0;
	}
	.reply-work{
		position: absolute;
		padding-right: 10px;
		z-index: 101;
		@include medium{
			@include span-columns(5 omega);
		}
		@include small{
			display: none;
		}
		.project, .project-image{
			margin-bottom: 0;
			img {
				width: 106px;
				height: 80px;
				background-size: 106px 80px;
			}
		}
		.project-title{
			display: none;
		}
		.project-description{
			display: none;
		}
		.project-link{
			display: none;
		}
	}
	.reply-message{
		margin-bottom: 0;
		white-space: nowrap;
		overflow: hidden;
		position: relative;

		&:after{
			@include background(linear-gradient(left, rgba(0,0,0,0), #fff));
			content: " ";
			height: 40px;
			width: 40px;
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
		}
		.reply-full{
			display: none;
		}
	}
	.reply-actions{
		@include medium{
			@include span-columns(2 omega);
			padding-right: 5px;
		}
	}
	&:hover{
		background: $lightgrey2;
		.reply-message:after{
			@include background(linear-gradient(left, rgba(0,0,0,0), $lightgrey2));
		}
	}

}

.designer-reply{
	margin-bottom: $spacing;
	margin-top: -60px;
	@extend .message-contents;

	@include top-arrow;
	&:after {
		left: 30px;
		margin-left: -10px;
	}
	&:before {
		left: 30px;
		margin-left: -14px;
	}
	.reply-intro{
		color: $lightesttext;
		border-bottom: 1px solid $lightgrey2;
		padding-bottom: 6px;
		margin-bottom: 6px;
		font-size: 14px;
	}
	.reply-message{
		margin-bottom: 0px;
		font-size: 18px;
	}
}

ul.messages{
	list-style-type:none;
	padding-left:40px;
	margin-top:10px;
	&>li{
		background:$lightgrey2;
		display:block;
		@include border-radius(3px);
		padding:20px;
		margin-bottom:10px;
		.date{
			font-weight:bold;
			display:block;
			font-size:13px;
			color:$darkgrey2;
		}
		p{
			margin:0;
		}
	}
}

.designers-replied {
	li label {
		display: inline-block;
	}
}

.replies-filter{
	background: $lightgrey7;
	@include border-radius(3px);
	padding: 5px 10px;
	margin-bottom: $spacing;
	a, h5{
		display: inline-block;
		margin-right: $spacing;
	}
	.count{
		@include border-radius(100%);
		background: $lightgrey4;
		color: white;
		font-size: 10px;
		text-align: center;
		display: inline-block;
		height: 16px;
		width: 16px;
		line-height: 16px;
		vertical-align: middle;
		&.count-notification{
			background: $green1;
		}
	}
}