@import "compass/css3/border-radius";

@import "mixins/colors";

.testimonial{
	blockquote{
		margin-bottom: 20px;
		background: white;
		position: relative;
		@include border-radius(5px);
		padding: 40px;
		p{
			font-size: 16px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.big{
			font-size: 26px;
			strong{
				color: $green;
			}
		}
		&:after {
			top: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #ffffff;
			border-width: 15px;
			right: 20%;
			margin-left: -15px;
		}
	}
	cite{
		font-size: 20px;
	}
	.testimonial-logo{
		display: inline-block;
		max-width: 100px;
		img{
			position: relative;
			display: inline-block;
			width: 100%;
		}
	}
	cite{
		text-align:right;
		display:block;
		// font-style:italic;
		color:$darkgrey2;
	}
}