%html
  %body.no-js.tcenter{class: yield(:body_class), 'data-class-name' => js_class_name}
    = image_tag @artwork.asset.url(:small_edit_cover), id: 'cropbox', data: {width: @artwork.geometry['small_edit_cover']['width'], height: @artwork.geometry['small_edit_cover']['height'], ratio: @artwork.geometry['original']['width'] / @artwork.geometry['small_edit_cover']['width'] }

= form_for @artwork, url: update_crop_designer_project_artwork_path(@designer, @designer_project, @artwork) do |f|
  - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
    = f.hidden_field attribute, id: attribute
  = f.submit 'Crop the artwork', class: 'button submit-crop'
