= content_for :intro, raw('A message from <a href="http://www.folyo.me">Folyo</a>')

%h2 Welcome to Folyo!
%p I'm very glad to welcome you to Folyo. Now that you're an official member, you should go ahead and <a href="#{edit_designer_url(@designer)}">complete your profile</a> and <a href="#{designer_projects_url(@designer)}">upload some of your best artworks</a>.