= content_for :intro, raw('A message from <a href="http://www.folyo.me">Folyo</a>')

%h3 You didn't get the job
%p You're receiving this message because you applied for this project: <a href="#{offer_url(@job_offer)}">#{@job_offer.title}</a>. We're sorry, but the client didn't pick your profile. Better luck next time!



