= content_for :intro, raw('A message from <a href="http://www.folyo.me">Folyo</a>')

%h3 Sorry, you didn't make it :(
- if @designer.rejection_message.blank?
  %p Sorry, but your application to Folyo was rejected. If you'd like to learn more, you can read about some <a href="http://blog.folyo.me/so-you-didnt-make-it/">common causes for rejection here</a>.
- else
  %p Sorry, but your application to Folyo was rejected. Here's our reviewer's remarks:
  %p= @designer.rejection_message







