= content_for :title, "Job Offers"
= content_for :sidebar do
	= render '/admin/job_offers/job_offers_nav'

/ %ul.offer-list
/ 	- @job_offers.each_with_index do |job, i|
/ 		= render '/admin/job_offers/job_offer', job: job, display_status: i == 0 || @job_offers[i].status != @job_offers[i - 1].status

/ = paginate @job_offers

