= content_for :title, "Job Offers"
=content_for :sidebar do
	= render :partial => '/admin/job_offers/job_offers_nav'

.rejected
	%h3.rejected Rejected
	%ul.offer-list
		- @job_offers.each do |job|
			= render :partial => '/admin/job_offers/job_offer',  :locals => {:job => job, :display_status => false}

= paginate @job_offers