= content_for :body_class, "with-subnav"
#subnav
  %ul
    %li
      = current_link_to 'My Profile', edit_client_path(params[:id] || current_user)
    %li
      = current_link_to 'My Info', edit_user_registration_path(params[:id] || current_user)
