= content_for :body_class, " with-wizard"
= content_for :subnav do
  %ol.wizard
    - case active
    - when :offer
      %li{class: 'active'} Your Project
      %li Payment
    - when :order
      %li= link_to 'Your Project', edit_offer_path(offer)
      %li{class: 'active'} Payment