.designer-reply
  %p.reply-intro
    = designer.full_name
    replied to your project
    =link_to 'Build a UI for a new social network', '#'
  %p.reply-message
    Hi, I'm a freelance designer based in Florida (USA). Very interested in your projects. I'm experienced in web design, and am available to start whenever you need me. I'm also use to working with clients in remote locations. Please, have a look at my work at www.ideasofjennylee.com. Would love to discuss this further with you.
