.filters
  %h4
    %span Filter by skills
    - if current_skill
      %span.show-all
        = link_to("Show all")
  %ul.filter
    - Designer.skills.each do |s|
      %li{:class => current_skill == s ? 'selected' : ''}= link_to(s.to_s.humanize, :skill => s)