%h2.survey-title The 2014 Folyo Budget Survey

.survey-intro
  :markdown
    This **10-minute survey** will help us collect statistics on design pricing, and make it easier for us to help clients price their projects.

.survey-contents
  %h3 Table of Contents
  %ol
    %li
      %a{href: '01-about-you'} About You
    %li
      %a{href: '02-logo-design'} Logo & Identity Design
    %li
      %a{href: '03-illustration'} Illustration & Icon Design
    %li
      %a{href: '04-web-design'} Web Design
    %li
      %a{href: '05-ui-design'} UI & App Design
    %li
      %a{href: '06-motion-design'} Motion Design      
    %li
      %a{href: '07-ux-consulting'} UX Consulting
    %li
      %a{href: '08-lettering'} Custom Type & Lettering
    %li
      %a{href: '08-lettering'} Print Design      
    %li
      %a{href: '09-comments'} Comments

  .survey-cta
    = link_to 'Get Started', '01-about-you', class: 'button'

.survey-faq.note
  %h3 How will you use my data?

  :markdown
    Survey results will be used in aggregate to generate statistics on design budets.

    This data will then be used both inside Folyo and on the Folyo blog to help clients figure out appropriate budgets for their projects.

    Please note that all data collected here will remain **strictly anonymous**.
