%a.survey-intro-link{href: '/surveys/budget/introduction'} The 2014 Folyo Budget Survey

%h3.survey-page-title
  Thanks for completing the survey!

.survey-intro
  :markdown
    Did we miss a category or project type? Do you have some feedback on the survey? Or just on Folyo in general?

    Just click the "?" icon in the lower right of your screen to let us know about it!

.survey-pagination
  = link_to 'Motion Design', 'motion-design', class: 'button disabled prev'
