= simple_form_for @survey, url: survey_path(@survey), as: :survey, wrapper: :survey do |f|

  %a.survey-intro-link{href: '/surveys/budget/introduction'} The 2014 Folyo Budget Survey

  = render '/surveys/partials/pagination', {current_page: :illustration, position: 'top'}

  .survey-intro
    :markdown
      Here's a tip: if you're not sure about a budget, just enter the **minimum amount** you'd consider.

      For example, you might know that no matter what you'd charge *at least* $1500 for a set of 30 icons.

  = render '/surveys/partials/skill_projects', skill: BudgetSurveyData.skills[:illustration], f: f

  = render '/surveys/partials/pagination', {current_page: :illustration, position: 'bottom'}

