%h2.survey-title The 2014 Folyo Budget Survey

.survey-intro
  :markdown
    This **10-minute survey** will help us collect statistics on design pricing, and help clients budget their projects better.

.survey-contents
  %h3 Table of Contents
  %ol
    %li
      %a{href: 'about-you'} About You
    %li
      %a{href: 'logo-identity-design'} Logo & Identity Design
    %li
      %a{href: 'illustration'} Illustration & Icon Design
    %li
      %a{href: 'web-design'} Web Design
    %li
      %a{href: 'ui-app-design'} UI & App Design
    %li
      %a{href: 'motion-design'} Motion Design      
    / %li
    /   %a{href: '07-ux-design'} UX Design
    / %li
    /   %a{href: '08-print-design'} Print Design  
    / %li
    /   %a{href: '09-lettering'} Custom Type & Lettering    

  .survey-cta
    = link_to 'Get Started', 'about-you', class: 'button'

.survey-faq.note
  %h3 How will you use my data?

  :markdown
    Survey results will be used in aggregate to generate statistics on design budets.

    This data will then be used both inside Folyo and on the Folyo blog to help clients figure out appropriate budgets for their projects.

    Please note that all data collected here will remain **strictly anonymous**.
