= simple_form_for @survey, url: survey_path(@survey), as: :survey, wrapper: :survey do |f|

  %a.survey-intro-link{href: '/surveys/budget/introduction'} The 2014 Folyo Budget Survey

  = render '/surveys/partials/pagination', {current_page: :logo_and_identity_design, position: 'top'}

  .survey-intro
    :markdown
      Here are two sample identity design projects. How much would you have charged for each of them?

      Note: be sure to **view the full case study** for each project.

  = render '/surveys/partials/skill_projects', skill: BudgetSurveyData.skills[:logo_and_identity_design], f: f

  = render '/surveys/partials/pagination', {current_page: :logo_and_identity_design, position: 'bottom'}
