= simple_form_for @survey, url: survey_path(@survey), as: :survey, wrapper: :survey do |f|

  %a.survey-intro-link{href: '/surveys/budget/introduction'} The 2014 Folyo Budget Survey

  = render '/surveys/partials/pagination', {current_page: :motion_design, position: 'top'}

  .survey-intro
    :markdown
      Don't do motion design? No worries, feel free to **just skip any question**!

  = render '/surveys/partials/skill_projects', skill: BudgetSurveyData.skills[:motion_design], f: f

  = render '/surveys/partials/pagination', {current_page: :motion_design, position: 'bottom'}
