= simple_form_for @survey, url: survey_path(@survey), as: :survey, wrapper: :survey do |f|

  %a.survey-intro-link{href: '/surveys/budget/introduction'} The 2014 Folyo Budget Survey

  = render '/surveys/partials/pagination', {current_page: :type_lettering, position: 'top'}

  .survey-intro
    :markdown
      Now this is my type of project!

  = render '/surveys/partials/skill_projects', skill: BudgetSurveyData.skills[:type_lettering], f: f

  = render '/surveys/partials/pagination', {current_page: :type_lettering, position: 'bottom'}
