= simple_form_for @survey, url: survey_path(@survey), as: :survey, wrapper: :survey do |f|

  %a.survey-intro-link{href: '/surveys/budget/introduction'} The 2014 Folyo Budget Survey

  = render '/surveys/partials/pagination', {current_page: :web_design, position: 'top'}

  .survey-intro
    :markdown
      Consider that all projects include **responsive design**.

      On the other hand, HTML/CSS coding is optional.

  = render '/surveys/partials/skill_projects', skill: BudgetSurveyData.skills[:web_design], f: f

  = render '/surveys/partials/pagination', {current_page: :web_design, position: 'bottom'}


