/*
BEM Cheatsheet:
.block{}
.block__element{}
.block--modifier{}
*/


/*------------------- Placeholder Classes Definitions ------------------ */

%btn{ // base button style
	display:inline-block;
	font-weight:bold();
	text-align:center;
	@include border-radius(5px);
	cursor:pointer;
	padding:10px 20px;
	line-height:1;
	font-size:14px;
	background:$primaryButton;
	color:white;
	@include animate();
	.action{
		color:white;
		display:block;
		font-size:24px;
		margin-bottom:5px;
		font-weight:bold();
	}
	.microcopy{
		color:white(0.6);
		display:block;
		font-size:14px;
		font-weight:regular();
	}
	&:hover{
		text-decoration:none;
	}
	&:active{
		position:relative;
		top:1px;
	}
}
%btn--inactive{ // inactive button style
	&, &:active, &:hover{
		background:black(0.2);
	}
}
%btn--gradient{ // base gradient button style
	text-shadow: 0px 1px 1px rgba(0,0,0,0.35);
	border:1px solid #36667d;
	@include box-shadow(inset white(0.4) 0px 1px 0px 0px);
	&:hover{
		@include box-shadow(
			inset rgba(255,255,255,0.4) 0px 1px 0px 0px,
			inset rgba(255,255,255,0.6) 0px 0px 5px 0px
		);	
	}
}
%btn--gradient-blue{ // blue gradient button style
	background:$blue1;
	@include background-image(linear-gradient(#59aad1, #3680a3));
	&:hover{
		@include background-image(linear-gradient(#75c9f1, #3c98c3));
	}
	&:active{
		@include background-image(linear-gradient(adjust-lightness(#75c9f1,-10), adjust-lightness(#3c98c3,-10)));
	}	
}
%btn--gradient-inactive{ // inactive gradient button style
	@include background-image(linear-gradient(#91a3af, #798d9a));
	&:hover{
		@include background-image(linear-gradient(#afc1cc, #91a3af));
	}
	&:active{
		@include background-image(linear-gradient(#91a3af, #798d9a));		
	}
}
%btn--big{ // big button style
	font-size:18px;
}

/*------------------- Button Styles ------------------ */

.button{
	@extend %btn;
}

input.button{
	border:none;
	@extend %btn;
}

// input.button, button.button{
// 	line-height:16px;
// }
// .button:hover{
// 	text-decoration:none;
// 	@include background-image(linear-gradient(#75c9f1, #3c98c3));
// 	@include box-shadow(
// 		inset rgba(255,255,255,0.4) 0px 1px 0px 0px,
// 		rgba(255,255,255,0.9) 0px 1px 0px 0px,
// 		inset rgba(255,255,255,0.6) 0px 0px 5px 0px
// 	);
// }
// .button:active{
// 	@include background-image(linear-gradient(adjust-lightness(#75c9f1,-10), adjust-lightness(#3c98c3,-10)));
// 	position:relative;
// 	top:1px;
// }
// .big-button{
// 	//@include border-radius(18px);
// 	height:36px;
// 	line-height:36px;

// }
// input.big-button, button.big-button{
// 	line-height:32px;
// 	padding:0 15px;
// }

