.money-back{
	background:image-url('money-back.png') no-repeat top center;
	@include hide-text;
	height:70px;
	margin-bottom:10px;
}
.sidebar-guarantee{
	text-align:center;
	border:double $green1 3px;
	padding:20px;
	h5{
		margin-bottom:20px;
	}
}