.timeline{
	font-size:14px;
	li{
		margin-bottom:5px;
		opacity:0.6;
		label{
			display:inline-block;
			width:110px;
			font-size:14px;
			margin:0;
		}
		span{
			display:inline-block;
		}
	}
}
.pending .posted_at, .unpaid .approved_at, .active .paid_at, .archived .archived_at, .refunded .refunded_at{
	// background:$lightgrey2;
	font-weight:bold;
	opacity:1;
}