.survey-answer
  = render '/surveys/partials/label', input_label: input_label
  = f.input input_name, collection: ['I don\'t code','Under $500', '$500-$1000', '$1000-$1500', '$1500-$2000', '$2000-$3000', '$3000-$4000', '$4000-5000', '$5000-7500', '$7500-$10000', '$10000-15000', '$15000-$20000', '$20000-$30000', 'More than $30000']
