.survey-answer
  = render '/surveys/partials/label', input_label: 'For a similar project, I would charge at least…'
  = render '/surveys/partials/slider'
  = f.input input_name, as: :hidden, input_html: { class: 'slider-value' }
