.survey-pagination
  - if defined?(prev_page)
    %button{type: 'submit', name: 'page', value: prev_page, class: 'button disabled prev'}
      = prev_page_name

  - if defined?(next_page)
    %button{type: 'submit', name: 'page', value: next_page, class: 'button next'}
      Next: #{next_page_name}
