= content_for :intro, raw("A message from <a href=\"http://www.folyo.me\">Folyo</a>")

%h2 Your job offer was accepted
%p Your job offer ("#{@job_offer.title}") was accepted on Folyo. Now all that's left is to pay to activate it.<br/>
%a{class: 'button', href: offer_orders_url(@job_offer)} Complete Payment



