:plain
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
	= render :partial => '/mailers/header'
	%body
		.email_body
			%p.intro A message from <a href="http://folyo.me">Folyo</a>
			.message
				%h2 Sorry, your job offer was rejected :(
				%p Sorry, but your job offer ("#{@job_offer.title}") was rejected. If you'd like to learn more, you can read about some <a href="http://blog.folyo.me/post/10310816950/so-your-job-offer-was-rejected">common causes for rejection here</a>.
				
				
				
