= content_for :intro, raw("A message from <a href=\"http://www.folyo.me\">Folyo</a>")

%h2 Sorry, your job offer was rejected :(
%p Sorry, but your job offer ("#{@job_offer.title}") was rejected. If you'd like to learn more, you can read about some <a href="http://blog.folyo.me/post/10310816950/so-your-job-offer-was-rejected">common causes for rejection here</a>.



