b, strong{
	font-weight:bold;
}
i, em{
	font-style:italic;
}
p{
	margin-bottom:15px;
}
a{
	color:$blue1;
	font-weight:bold;
	text-decoration:none;
}

li{
	margin-bottom:10px;
}
.tagline .date{
	color:$darkgrey2;
}
.inline-block {
	display: inline-block !important;
}
label{
	font-size:16px;
}
.small{
	font-size:14px;
}

hr {
	margin: 20px 0;
}

.reply-offer{
	background:white;
	padding:0 20px 20px 20px;
	margin-bottom:40px;
	@include background-image(linear-gradient(#f8f8f8, #fff));
	@include box-shadow(
		inset white 0px 1px 0px 0px,
		rgba(0,0,0,0.15) 0px 1px 1px 0px
	);

	h2{
		color:$green1;
		font-weight:bold;
		font-size:18px;
		line-height:40px;
		@include box-shadow(
			inset rgba(0,0,0,0.1) 0px -1px 0px 0px
		);
		border-bottom:1px rgba(255,255,255,1) solid;
		text-align:left;
		@include letterpress(1);
	}

	label{
		font-size:15px;
		font-style:italic;
		height:30px;
		line-height:20px;
		margin:0;
		color:$darkgrey2;
		position: absolute;
		left: 5px;
		bottom: -30px;
		text-align: center;
		@include letterpress(1);
	}

	.input {
		margin-bottom: 40px;
	}

	.character-counter-main-wrapper {
		margin: -43px 0 20px;
	}

	.button{
		width:150px;
		margin:10px auto 0 auto;
	}

	textarea{
		width:260px;
		height:70px;
	  border: 1px solid $lightgrey4;
	  @include border-radius(3px);
	  @include box-shadow(inset $lightgrey2  0px 0px 0px 3px);
	  background:#fcfcfc;
	  font-family:monospace;
	  font-size:14px;
	  padding:10px;
	  line-height:1.35em;
	  margin:0;
	  &:focus {
	    outline:none;
	    background:#f1f6f8;
	    @include box-shadow(inset $lightgrey4  0px 0px 0px 3px);
	  }
	}
	.remaining{
		text-align:center;
	}
}
.remaining{
	display:none;
	font-style: italic;
}

.block{
	margin-bottom:40px;
	>div{
		margin-bottom:20px;
	}
	.notice{
		margin-bottom:20px;
	}
}

ul.skills-list li{
	color:#9a9a7a;
	display:inline-block;
	margin-right:5px;
	padding:5px 5px 3px 30px;
	@include border-radius(3px);
	@include box-shadow(
		inset white 0 1px 0 0
	//	,#e0e0c4 0 0px 0 0,
	//	,rgba(0,0,0,0.15) 0 1px 0 0
	);
	border: 1px solid #e0e0c4;
	@include letterpress(1);
	font-size:13px;
	line-height:13px;
	position:relative;
	background:#ffffe0;
	//background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQIHWP8//8/AwwwMjJKMoAEoIKSYBqZA2UzgGVAHBAGAHyXHkuT5v6VAAAAAElFTkSuQmCC);

	&:after{
		position:absolute;
		top:1px;
		left:0;
		content:" ";
		display:block;
		border-right:1px solid #e0e0c4;
		@include box-shadow(inset white -1px 0 0 0);
		width:23px;
		height:20px;
		@include border-left-radius(3px);
		background:rgba(0,0,0,0.05) image-url('logodesign.png') no-repeat 5px 3px;
	}
	&.icon-design:after{
		background-image:image-url('icondesign.png');
	}
	&.logo-design:after{
		background-image:image-url('logodesign.png');
	}
	&.web-design:after{
		background-image:image-url('webdesign.png');
	}
	&.ui-design:after{
		background-image:image-url('uidesign.png');
	}
	&.mobile-design:after{
		background-image:image-url('mobiledesign.png');
	}
	&.ux-interaction-design:after{
		background-image:image-url('ux.png');
	}
	&.illustration:after{
		background-image:image-url('illustration.png');
	}
	&.print-design:after{
		background-image:image-url('printdesign.png');
	}
}

#sidebar{
	.block{
		margin-bottom:40px;
	}
	>ul{
	list-style-type:none;

		>li{
			margin-bottom:40px;
		}

		ul.social-media{
			height:40px;
			padding-top:10px;

			li{
				display:block;
				float:left;
				width:40px;
				height:40px;
				margin:0 20px 0 0;
				position:relative;
				a{
					display:block;
					height:40px;
					width:40px;
					background:image-url('site.png') top right;
					text-indent:-900px;
					overflow:hidden;
				}
				a:hover{
					@include border-radius(40px);
					@include box-shadow(rgba(0,0,0,0.15) 0px 1px 2px 0);
					background:white image-url('site.png') bottom right;
					border:3px white solid;
					position:absolute;
					top:-3px;
					left:-3px;
				}
				&.site a{
					background-image:image-url('site.png');
				}
				&.dribbble a{
					background-image:image-url('dribbble.png');
				}
				&.twitter a{
					background-image:image-url('twitter.png');
				}
				&.behance a{
					background-image:image-url('behance.png');
				}
				&.zerply a{
					background-image:image-url('zerply.png');
				}
			}
		}
	}
}
hr{
	background:$lightgrey4;
	border:none;
	height:1px;
}
#sidebar hr{
	background:#d9e8ef;
	border:none;
	height:1px;
	border-bottom:1px solid rgba(255, 255,255, 0.9);
}
h1,h2,h3,h4,h5,h6{
	line-height:1.5;
}
h1{
	font-size:36px;
	color:$green1;
}
h3{
	font-size:16px;
	//font-variant:small-caps;
	font-style:italic;
	font-weight:600;
	color:$darkgrey2;
}
.main h3, .sidebar h3{
	height:25px;
	line-height:25px;
}
.main h3, .offer-list .offer-status {
	font-weight: bold;
	margin:0 0 20px 0;
	border-bottom:2px $darkgrey2 solid;
	&.waiting_for_review{
		border-color:$lightgrey4;
	}
	&.waiting_for_payment, &.waiting_for_submission{
		border-color:$yellow1;
	}
	&.rejected{
		border-color:$red1;
	}
	&.archived{
		border-color:$green3;
	}
	&.refunded{
		border-color:$blue1
	}
}
.header{
	height:25px;
	margin-bottom:10px;
	h3, .status{
		float:left;
	}
}
h4{
	color:$green1;
	margin-bottom:5px;
	font-size:16px;
	font-weight:600;
}
h5{
	font-weight:bold;
}
#sidebar h3{
	@include border-left-radius(3px);
	display:block;
	background:#ddebf1;
	@include box-shadow( inset rgba(0,0,0,0.05) 0px 1px 0px 0px, rgba(255,255,255,0.8) 0px 1px 0px 0px);
	padding:0 40px 0 10px;
	margin:0  0px 10px 0;
}

ul.controls{
	@include nav-ul;
	@include border-radius(3px);
	background:$lightgrey2;

	li{
		margin:0;
		font-size:13px;
		a{
			display:block;
			padding:10px;
			@include letterpress(1);
		}
		a:hover{
			background:$blue1;
			color:white;
			text-decoration:none;
			text-shadow:none;
		}

		&.pay, &.delete, &.archive, &.email{
			float:right;
			a{
				background-color:$blue1;
				color:white;
				text-shadow:none;
				&:hover{
					background-color:$green1;
				}
			}
		}
		&.email a{
			background:$blue1 image-url('email.png') no-repeat center center;
			@include hide-text;
			display:block;
			width:24px;
		}
		&.delete a{
			background:$red1 image-url('trash.png') no-repeat center center;
			@include hide-text;
			display:block;
			width:24px;
		}
	}
}
body.offer-archived ul.replies{
	.reply{
		opacity:0.7;
	}
	.picked{
		opacity:1;
	}
}
ul.replies{
	list-style-type:none;
	&>li{
		background:$lightgrey2;
		display:block;
		@include border-right-radius(3px);
		padding:20px 0px 20px 40px;
		margin:0 0 40px 0px;
		overflow:hidden;
		position:relative;
		@include transition-property("height, padding");
		@include transition-duration(400ms);
		@include transition-timing-function(ease-out);

		.col1, .actions, .message p{
			@include transition-property(opacity);
			@include transition-duration(400ms);
			@include transition-timing-function(ease-out);
		}
		.col1{
			position:absolute;
			left:40px;
		}
		.actions{
			position:absolute;
			left:720px;
		}
		height:160px;
		h2{
			font-size:20px;
		}
		.message{
			@include transition-property(margin);
			@include transition-duration(400ms);
			@include transition-timing-function(ease-out);
			margin-left:240px;
			p{
				overflow-y: auto;
				overflow-x: hidden;
				height:120px;
				margin-bottom:0;
			}
			&.long p{
				padding-right:10px;
			}
		}
	}
	&>li.collapsed{
		height:40px;
		overflow:hidden;
		padding:0px 0px 0px 40px;
		.col1, .actions{
			opacity:0;
		}
		.message{
			margin-left:0px;
			h2{
				line-height:40px;
				margin:0;
			}
			p{
				opacity:0;
			}
		}
		.collapse span{
			background-position:center bottom;
		}
	}
	.collapse{
		position:absolute;
		top:0;
		right:0;
		display:block;
		height:40px;
		width:40px;
		text-indent:-900px;
		overflow:hidden;
		@include background-image(linear-gradient(black(0.05),black(0.1)));
		@include box-emboss(0.5, 0);
		span{
			display:block;
			height:40px;
			width:40px;
			background:image-url('collapse-expand.png') no-repeat center top;
		}
	}
}
ul.designers-replied{
	li:before{
		display:none !important;
	}
	label{
		display:inline-block;
	}
}
.message ::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.message ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.message ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $darkgrey2;
}
.message ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}
ul.messages{
	list-style-type:none;
	padding-left:40px;
	margin-top:10px;
	&>li{
		background:$lightgrey2;
		display:block;
		@include border-radius(3px);
		padding:20px;
		margin-bottom:10px;
		.date{
			font-weight:bold;
			display:block;
			font-size:13px;
			color:$darkgrey2;
		}
		p{
			margin:0;
		}
	}
}
ul.actions{
	li{
		background: image-url('site16.png') no-repeat left 5px;
		padding-left:20px;
		margin-bottom:0px;

		a{
			display:inline-block;
		}
		&.site{
			background-image:image-url('site16.png');
		}
		&.dribbble{
			background-image:image-url('dribbble16.png');
		}
		&.get-in-touch{
			background-image:image-url('getintouch16.png');
		}
		&.email{
			background-image:image-url('email16.png');
		}
		&.location{
			background-image:image-url('location16.png');
		}
		&.pick{
			background-image:image-url('pick16.png');
			a, strong{
				color:$green1;
			}
		}
		&.profile{
			background-image:image-url('profile16.png');
		}
	}

}

.num-replies{
	display:inline-block;
	@include border-radius(3px);
	color:$darkgrey2;
	background:$lightgrey2;
	font-size:12px;
	padding:0px 5px;
	height:18px;
	line-height:18px;
	vertical-align:middle;
}
.note{
	@include note;
	h5{
		margin-bottom:5px;
	}
	h5.margintop{
		margin-top:15px;
	}
	p{
		margin-bottom:0;
	}
}
.button-bar{
	.button{
		display:inline-block;
	}
}
/*------------------- Lightbox ------------------ */
#lightbox-content{
	text-align:center;
}

.icon{
	position:relative;
	top:2px;
	@include hide-text();
	height:15px;
	width:15px;
	display:inline-block;
}

/*------------------- Offers ------------------ */
ul.offer-list{
	list-style-type:none;

	>li{
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px $lightgrey4 solid;
		h2{
			margin-bottom:5px;
			a{
				color:$darkgrey1;
				font-size:24px;
				font-weight:normal;
			}
		}
		h4{
			.name{
				font-weight:normal;
				color:$blue1;
				opacity:0.7;
			}
			.count{
				font-weight:normal;
				color:$blue1;
				opacity:0.5;
				font-size:13px;
			}
		}
		.replied{
			background:image-url('replied.png') no-repeat right bottom;
			width:24px;
			height:24px;
			@include hide-text;
			display:inline-block;
			position:relative;
			top:4px;
		}
		.status{
			font-size:13px;
			color:$darkgrey2;
			margin-bottom:0px;
		}
		.controls{
			margin-top:10px;
		}
	}
}
/*------------------- Flash Messages ------------------ */
.notices div, .alert div{
	@include border-radius(3px);
	margin-bottom:40px;
	padding:10px 10px 10px 55px;
	line-height:1.5;
	@include letterpress(0.3);
	@include box-shadow(
		inset rgba(255,255,255, 0.6) 0 1px 0 0,
		rgba(0,0,0,0.1) 0 1px 2px 0
	);
	border: 1px solid $blue2;
	&.alert, &.error, &#error_explanation, &#errorExplanation{
		background:#ffc5bb image-url('error24.png') no-repeat 15px center;
		//@include background-image(linear-gradient(#ffc5bb, adjust-lightness(#ffc5bb,-1)));
		color:#c62910;
		border-color:#dd887a;
		a {
			color:#c62910;
			text-decoration: underline;
		}
	}
	&#error_explanation, &#errorExplanation{
		h2{
			font-size:18px;
			margin-bottom:5px;
		}
		ul{
			font-size:14px;
			list-style-type:circle;
			padding-left:30px;
		}
	}
	&.notice{
		background:#faf9d6 image-url('info24.png') no-repeat 15px center;
		color:#9d9b69;
		border-color:#ded0aa;
		a {
			color: #9d9b69;
			text-decoration: underline;
		}
	}
}

/*------------------- Designers List ------------------ */
.designers{
	>li{
		padding-bottom:40px;
		margin-bottom:40px;
		border-bottom:1px $lightgrey4 solid;
		overflow:hidden;
	}
	.featured-work{
		margin-bottom:10px;
	}
	.bio{
		h2{
			margin-bottom:5px;
		}
		h4{
			color:$darkgrey1;
			font-weight:normal;
			font-size:20px;
			margin-bottom:5px;
		}
		p{
			margin-bottom:0;
		}
	}
}
/*------------------- Filters ------------------ */
.filters{
	.show-all a{
		font-size:12px;
		display:inline-block;
		margin-left:5px;
		@include border-radius(20px);
		padding:2px 10px;
		display:inline-block;
		background: white(0.7);
		color:$darkgrey2;
		&:hover{
			background:white;
			text-decoration:none;
			color:$darkgrey1;
		}
	}
	li.selected{
		position:relative;
		&:before{
			content:"→";
			display:block;
			height:20px;
			width:20px;
			position:absolute;
			left:-20px;
		}
		a{
			color:$darkgrey1;
			cursor:text;
			&:hover{
				text-decoration:none;
			}
		}
	}
}
/*------------------- Designer Profile ------------------ */
.featured-work{
	a.image{
		border:2px solid $darkgrey2;
		background:white;
		padding:2px;
		display:block;
		@include box-shadow( rgba(0,0,0,0.15) 0px 1px 1px 0px);

		img{
			background:image-url('ajax-loader.gif') no-repeat center center;

			display:block;
			width:192px;
			min-height:150px;
		}
	}
	.caption{
		text-align:center;
		color:$darkgrey2;
		font-style:italic;
		font-size:13px;
		line-height:1.5;
		margin-top:10px;
	}
}
.designer-profile .featured-work{
	a.image{
		width:320px;
		img{
			width:320px;
		}
	}
}
/*------------------- Pagination ------------------ */
.pagination{
	@include border-radius(3px);
	background:$lightgrey2;
	padding:5px;
	font-size:14px;
	@include letterpress(1);
	span, em, a{
		@include border-radius(3px);
		@include box-shadow( inset black(0.1) 0px 1px 0px 0px, white(0.8) 0px 1px 0px 0px);
		background:black(0.03);
		padding:4px 8px;
		display:inline-block;
		margin-right:5px;
	}
	a:hover{
		background:$blue1;
		color:white;
		text-shadow:none;
		text-decoration:none;
	}
	em{
		background:white;
		@include box-shadow( inset black(0.1) 0px 1px 0px 0px);
	}
}
/*------------------- Dialogs ------------------ */

.ui-dialog{
	background:white;
	@include border-radius(3px);
	@include box-shadow(  black(0.25) 0px 2px 3px 0px);
	padding:20px;

	.ui-dialog-titlebar{
		display:none;
	}
	form.wysiwyg{
		legend{
			font-size:18px;
			color:$green1;
			font-weight:bold;
			margin-bottom:10px;
		}
		input[type=text]{
			width:258px;
		}
		label:nth-child(3),label:nth-child(4){
			display:none
		}
		.button{
			float:left;
			margin-right:10px;
		}
		input[type=reset]{
			float:left;
		}
	}
}

/*------------------- Testimonials ------------------ */
#pager{
	overflow:hidden;
	margin-left:75px;
	a{
		@include hide-text;
		height:10px;
		width:10px;
		float:left;
		margin-right:10px;
		@include border-radius(20px);
		background:$lightgrey2;
		&.activeSlide{
			background:$green1;
		}
		&:last-child{
			margin-right:0px;
		}
	}
}
.testimonials{
	.testimonial{
		margin-bottom:20px;
	}
	.logo{
		display:block;
		margin-bottom:5px;
		img{
			display:block;
			margin:0 auto;
		}
	}
	q{
		display:block;
		font-size:14px;
		padding:10px;
		background:$lightgrey2;
		margin-bottom:5px;
		@include border-radius(3px);
	}
	cite{
		text-align:right;
		display:block;
		font-style:italic;
		color:$darkgrey2;
		font-size:14px;
	}
}
.cta{
	padding-top:8px;
	.post-offer{
		width:168px;
		margin-bottom:5px;
		height:46px;
		line-height:46px;
		.text{
			margin-top:2px;
			display:block;
		}
		.price{
			display:block;
			text-align:center;
			font-size:14px;
			font-weight:normal;
			font-style:italic;
			color:#30383e;
			@include letterpress(0.15);
		}
	}
	.how-it-works{
		text-align:center;
		font-size:14px;
		font-style:italic;
		display:block;
		a{
			font-style:normal;
		}
	}
}

textarea.mailchimp-text{
	width:100%;
	height:200px;
	font-size:13px;
	margin-bottom:40px;
}

h2.rejected a{
	color:red !important;
}
h2.pending a{
	color:$lightgrey4 !important;
}

.pay{
	overflow:hidden;
	.price{
		@include border-left-radius(40px);
		background:$green1;
		color:white;
		padding:0px 20px;
		float:left;
		font-size:36px;
		line-height:66px;
		.oldprice{
			font-size:24px;
			vertical-align:top;
			color:white(0.7);
		}
	}
	.paypal{
		@include border-right-radius(40px);
		float:left;
		padding:14px 20px 10px 20px;
		background:$lightgrey2;
		a{
			display:block;
			height:42px;
		}
	}
}

#hnwelcome{
	display:none;
}

.not-sure{
	margin-top:10px;
	color:$darkgrey2;
}
.twitter-button{
/*	@include box-emboss(0.15, 0.3);
	@include border-radius(3px);
	padding:10px 0px 2px 10px;
	background:black(0.1);*/
	padding-top:3px;
}

.footer{
	text-align:center;
	padding:20px 0;
	@include letterpress(0.2);
	a{
		color:white;
		text-shadow:black(0.35) 0px 1px 2px;
	}
	.footer-nav{
		display:table;
		margin: 0 auto 10px auto;
		@include box-shadow(inset black(0.2) 0px -1px 0 0);
		border-bottom:1px white(0.15) solid;
		padding-bottom:10px;
		ul{
			@include nav-ul;
			li{
				margin:0 15px;
			}
		}
	}
}

/*------------------- statuses -------------------- */
.offer-status{
	display:inline-block;
	@include border-radius(3px);
	font-size:13px;
	padding:0px 5px;
	color:white;
	margin-right:5px;

	&.waiting_for_review{
		background:$lightgrey4;
	}
	&.waiting_for_payment{
		background:$yellow1;
	}
	&.accepted{
		background:$green1;
	}
	&.rejected{
		background:$yellow1;
	}
	&.archived{
		background:$green2;
	}
	&.refunded{
		background:$red1;
	}
}

.referral{
	input{
/*		display:inline-block;
		border:0;
		background:none;
		font-size:13px;
		box-shadow:none;
		width:auto;
		font-weight:bold;
		padding:0;
		margin:0;*/
	}
}


.checkmark{
	display:inline-block;
	@include hide-text;
	height:16px;
	width:16px;
	background:image-url('checkmark.png') no-repeat center center;
	margin-left:3px;
	vertical-align:middle;
}
.hidden{
	display:none;
}


#map_canvas{
	width:100%;
	height:500px;
	margin-bottom:40px;
}
.browse-map{
	margin-bottom:20px;
	@include border-radius(3px);
	background:image-url('map.jpg') no-repeat;
	padding:5px;
	a{
		background:white(0.85);
		padding:10px 20px;
		display:block;
		@include border-radius(3px);
		text-align:center;
		color:$darkgrey1;
	}
	a:hover{
		background:white(0.95);
		text-decoration:none;
		color:$blue1;
	}
}

/*------------- Evaluations ---------------*/
#main .designer-evaluations{
	margin:20px 0 0 0;
	padding:0;
	>li{
		margin:0 0 20px 0;
		padding:0;
		display:block;
		label{
			display:block;
			font-size:18px;
			margin-bottom:10px;
		}
	}
}
/*------------- Comments ---------------*/

#main .comments{
	.dsq-reply{
		@include note;
		margin-bottom:20px;
	}
	#dsq-content .dsq-reply .dsq-avatar {
		left:20px;
	}
	.dsq-textarea-reply{
		margin-bottom:0;
	}
	#disqus_thread h3{
		background:none;
		padding:0;
		margin:0 0 10px 0;
		color:$darkgrey2;
		font-size:18px;
	}
	#dsq-footer{
		@include border-radius(3px);
		background:$lightgrey2;
		font-size:13px;
		padding:5px 10px;
	}
}


.workflow{

}

.action-bar{
	.autosave-notice {
		display: inline-block;
		margin-right: 10px;
		color: #B3B3B3;
	}
	a{
		display:inline-block;
		min-width:100px;
	}
}

.page-intro{
	margin-bottom:40px;
}

.markdown-help {
	text-align: left;
	p {
		margin-bottom: 0;
	}
	.italic {
		font-style: italic;
	}
}