
.main {
	padding-top:40px;
	padding-bottom:40px;
	@include medium{
		@include span-columns(7);
	}
}
.sidebar {
	@include medium{
		padding-top:40px;
		@include span-columns(5 omega);
	}
}

body.no-sidebar #page-content{	
	#main{
		width:100%;
		margin-right:0;
	}
	#sidebar{
		display:none;
	}
}


ul.replies, ul.designers{					
	.col1{
	   	//width:span(3);
		//float:left;
		@include span-columns(3);
		min-height:10px;
	}
	.col2{
		@include span-columns(3 omega);
	}
	.message{
		@include span-columns(6);
	}
	.bio{
		//margin-left:span(3)+40px;
		@include span-columns(4);
	}
}