
#page-content, #offer-header, #subnav {
	
	#main {
		padding-top:40px;
		padding-bottom:40px;
    	@include span-columns(7);
	}

 	#sidebar {
 		padding-top:40px;
    	@include span-columns(5 omega);
	}
}
body.no-sidebar #page-content{	
	#main{
		width:100%;
		margin-right:0;
	}
	#sidebar{
		display:none;
	}
}
body.log-in #page{
	width:span(5) + 80px;
	
	#page-content, #page-header, #main{
		@include span-columns(5);
		margin-right:0;
	}
	#page-header{
		padding:20px 40px;
	}
	#sidebar{
		display:none;
	}
}

ul.replies, ul.designers{					
	.col1{
	   	//width:span(3);
		//float:left;
		@include span-columns(3);
		min-height:10px;
	}
	.col2{
		@include span-columns(3 omega);
	}
	.message{
		@include span-columns(6);
	}
	.bio{
		//margin-left:span(3)+40px;
		@include span-columns(4);
	}
	.actions{
		@include span-columns(3 omega);
	}
}