// try http://stackoverflow.com/questions/7761540/encoding-issues-in-javascript-files-using-rails-asset-pipeline ?
// <%# encoding: utf-8 %>
body{
  background: $darkgrey2 image-url('bg.png') repeat-x;

}
body, input, textarea, .button, p{
	font-family: "Proxima Nova", "Myriad Pro", "Helvetica Neue", Helvetica, Verdana, sans-serif;
	font-size:16px;
	line-height:1.7;
	color:$darkgrey1;
}


#page-header{
	height:120px;
	@include border-top-radius(3px);
	@include box-shadow( inset rgba(255,255,255,0.1) 0px 1px 0px 0px);
	background:#454d53;
	position:relative;
	padding:0 40px;
}

#subnav{
	position:absolute;
	bottom:0;
	left:40px;
	width:880px;
	height:40px;
	@include box-shadow( inset rgba(0,0,0,0.20) 0px 1px 0px 0px);
	@include border-top-radius(3px);
	background:rgba(0,0,0,0.05);
	ul{
		@include nav-ul;
		padding:0 20px;
		li{
			line-height:40px;
			margin-right:20px;
		}
	}
}


/*------------------- Page ------------------ */
#page-content{
	@include border-bottom-radius(3px);
	background:white image-url('sidebar-bg.png') repeat-y right;
	@include box-shadow(rgba(0,0,0,0.15) 0px 1px 3px 0px);
}
body.no-sidebar #page-content, body.log-in #page-content, body.home #page-content{
	background-image:none;
}
/*------------------- Header ------------------ */

#header{
	width:1000px;
	height:40px;
	// background:rgba(0,0,0,0.05);
	@include border-bottom-radius(3px);
	// @include box-shadow( inset rgba(0,0,0,0.15) 0px -1px 2px 0px, rgba(255,255,255,0.1) 0px 1px 0px 0px);
	margin:20px auto;

	#logo{
		float:left;
		margin:0;
		a{
			display:block;
			font-size:18px;
			float:left;
			background:image-url('logo-90.png') no-repeat;
			@include hide-text;
			width:90px;
			height:40px;
		}
	}

	#top-bar{
		list-style-type:none;
		float:right;
		margin-right:0px;
		color:#9bb5c5;
		margin-top:5px;
		li{
			margin:0 0 0 25px;
			font-size:16px;
			text-shadow: 0px 1px 2px rgba(0,0,0,0.35);
			float: left;
			display:block;
			a{
				display:block;
			}
			a:hover{
				color:white;
				text-decoration:none;
			}
			a.current{
				background:rgba(0,0,0,0.15);
				@include box-shadow( inset rgba(0,0,0,0.2) 0px 1px 0px 0px, rgba(255,255,255,0.15) 0px 1px 0px 0px);
				@include border-radius(20px);
				padding:0 12px;
				color:$darkgrey2;
			}
			a.current:hover{
				color:$darkgrey2;
			}
			&.post-job .button{
				border-color:$darkgrey1;
				@include box-shadow(0px 1px 1px 0px black(0.15));
			}
			&.sign-out a{
				@include hide-text;
				background:image-url("sign-out.png") no-repeat top center;
				height:24px;
				width:24px;
				&:hover{
					background-position:bottom center;
				}
			}
			&.new{
				background:image-url("new.png") no-repeat top right;
				padding-right:26px;
			}
		}
	}
}
/*------------------- Page Header ------------------ */

#page-header{
	height:120px;
	@include border-top-radius(3px);
	@include box-shadow(
		inset #2e363c 0px 0px 0px 1px,
		inset rgba(255,255,255,0.1) 0px 2px 0px 0px);
	background:#454d53;
	@include background-image(linear-gradient(#454d53, #485056));
	border-bottom:0px;
	position:relative;
	padding:0 40px;

	#page-title{
		float:left;
	}
	.title{
		overflow:hidden;
		text-shadow: 0px 2px 5px rgba(0,0,0,0.35);
		padding-top:40px;
		body.smaller-title & h1 {
			font-size: 32px;
		}
		a{
			display:block;
			float:left;
			font-size:18px;
			margin-right:5px;
		}
		a:after{
			content:"»";
			color:$darkgrey2;
			margin-left:5px;
		}
		a:hover{
			text-decoration:none;
			color:white;
		}
		.breadcrumbs{
			float: left;
			a{
				line-height:40px;
				height:40px;
			}
		}
		h1{
			line-height:40px;
			height:40px;
			font-weight:bold;
			float:left;
		}
	}

	.main-action{
		margin-top:40px;
		float:right;
		.button{
			border-color:#333;
			@include box-shadow(
				inset white(0.4) 0px 1px 0px 0px,
				white(0.2) 0px 1px 0px 0px
			);
		}
	}
}
body.offer-designer #page-header,body.with-subtitle #page-header, body.designer-profile #page-header, body.client-profile #page-header, body.with-subnav #page-header{
	.title{
		padding-top:20px;
	}
}
body.with-wizard #page-header{
	.title{
		padding-top:15px;
		h1{
			font-size:24px;
		}
	}
}
#page-title h2{
	display:block;
	color:white;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.55);
	font-size:24px;
	font-weight:normal;
}
#subnav{
	position:absolute;
	bottom:0;
	left:40px;
	width:$content_width;
	height:40px;
	@include box-shadow( inset black(0.3) 0px 1px 0px 0px);
	@include border-top-radius(3px);
	@include background-image(linear-gradient(black(0.15), black(0.05)));
	ul{
		@include nav-ul;
		padding:0 0px;
		li{
			margin-right:20px;
			text-shadow: 0px 1px 2px rgba(0,0,0,0.35);
			font-size:14px;
			padding-top:1px;
			a{
				line-height:40px;
				height:39px;
				padding:0 12px;
				display:block;
				@include border-top-radius(3px);
			}
			a:hover{
				color:white;
				text-decoration:none;
			}
			a.current{
				background:white(1);
				color:$darkgrey2;
				text-shadow:none;
			}
			a.current:hover{

			}
		}
	}
}
.wizard{
	@include box-shadow( inset black(0.3) 0px 1px 0px 0px, white(0.1) 0 1px 0 0);
	@include border-radius(3px);
	@include background-image(linear-gradient(black(0.15), black(0.05)));
	position:absolute;
	bottom:20px;
	left:40px;
	width:$content_width;
	height:40px;
	color:$darkgrey2;
	list-style-type:decimal;
	list-style-position:inside;
	li{
		float:left;
		line-height:40px;
		height:40px;
		margin-left:20px;
		text-shadow:black(0.35) 0 1px 0;
		&.active{
			color:white;
			font-weight:bold;
		}
	}
}
body.offer-client #subnav{
	display:block;
}
