%script{:src=>"//static.getclicky.com/js", :type=>"text/javascript"}
:javascript
	try{clicky.init(66478127);}catch(e){}
%noscript
	%img{:alt=>"Clicky", :width=>"1", :height=>"1", :src=>"//in.getclicky.com/66478127ns.gif"}