- if current_user
	:javascript
		var _learnq = _learnq || [];

		_learnq.push(['account', '7UwzvN']);

		_learnq.push(['identify', {
			email: "#{current_user.email}",
			created: "#{current_user.created_at}",
			role: "#{current_user.role}",
			profile: "#{current_user.profile_url}"
		}]);

		(function(){
		var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
		b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/learnmarklet.js';
		var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
		})();
