%header.top
	.container
		%h1.logo
			= link_to 'Folyo', root_path, :title => 'Home'
		%nav.nav
			%ul
				/ %li= section_link_to 'Browse Designers', designers_path, :designers
				%li= current_link_to 'Apply as a Designer', '/apply'
				%li= current_link_to 'Log In', '/sign_in'
				%li.post-job= section_link_to 'Post a Job', new_user_with_role_path(initial_role: 'client'), :post_job
