= content_for :title, "About"

.block
	%h4 Why Folyo?
	%p Folyo was born out of two realizations: first, as a successful freelance designer, I didn't know where to refer clients when I couldn't accept their project. Second, I realized many companies had a hard time finding good designers. The old "ask around" method shows its limits when your ideal designer might very well be living halfway around the world.
	%p So I decided to do something about these two related problems: I created a simple newsletter of job offers that I'd send to other reliable and experienced freelance designers. 
	%p After a couple months of maintaining this service, and getting great feedback from both designers and companies, I decided the concept was worth exploring further, and so I built Folyo. 
	%p Unlike a stand-alone newsletter, Folyo also gives clients a central place where they can manage designer's replies. What's more, having stats on who has replied means that I can also guarantee a minimum number of replies. 
.block
	%h4 Get in touch
	%p You can email us at <a href="mailto:hello@folyo.me">hello@folyo.me</a> or contact us through the chat widget at the bottom right of this window. 

= content_for :sidebar do
	.note
		%h5 About Me
		%p I'm a <a href="http://sachagreif.com/"> user interface designer</a> based in Paris, France. After starting out as a bad PHP coder, I slowly taught myself how to design, and eventually got to work with great companies such as <a href="http://www.lemonde.fr">Le Monde</a>, <a href="http://hipmunk.com">Hipmunk</a>, and <a href="http://milewise.com/">MileWise</a>.
		%br
		%p I recently decided to start focusing more on personal projects, and started learning Rails. After a <a href="http://www.patternify.com/">couple</a> <a href="http://documonk.com/">experiments</a>, I finally launched Folyo in September, 2011. 