= content_for :title, "Apply as a Designer"

.block
	%h3 Before You Apply…
	%p Before applying to Folyo, make sure you have a personal online portfolio. Not having one will get your application rejected no matter your design skills or experience.
	%p This can be a custom portfolio site, or a link to a Cargo, Behance, Carbonmade, Dunked, etc. account. 
	%p Please note that the following are <strong>not accepted as portfolios</strong>:
	%ul
		%li Personal <strong>blogs</strong>
		%li <strong>Dribbble</strong> accounts
		%li <strong>Forrst</strong> accounts
		%li <strong>PDF</strong> portfolios
		%li <strong>Flash-only</strong> portfolios
		%li Any <strong>password-protected</strong> portfolio
	%h3 What If I'm Not Accepted?
	%p If your application is not accepted, you can reapply any time. That being said, we review each application individually, so please only apply if you meet the requirements!
	%a.button{:href => new_user_with_role_path(:initial_role => 'designer')} Apply as a Designer