= content_for :body_class, 'budgets-page'

.budget-block

  .budget-widget
    %form.budget-form
      %script{type:"text/javascript", src:"https://rawgit.com/pa7/heatmap.js/master/src/heatmap.js"}
      %script{type:"text/javascript", src:"https://rawgit.com/desandro/draggabilly/master/dist/draggabilly.pkgd.min.js"}

      .budget-section
        %h2.budget-section-title 1. Pick a Project

        .budget-project

          .project-settings.project-category
            %h3.project-settings-title Category
            .project-select-category

          .project-settings.project-type.hidden
            %h3.project-settings-title Project
            .project-select-type

          .project-settings.project-options.hidden
            %h3.project-settings-title Options
            .project-select-options

      .budget-section

        %h2.budget-section-title 2. Set a Budget

        .budget-selector

          .budget-slider

            .slider-body#heatmapArea

              .slider-legend.slider-prices
                %ol
                  - (0..10).each do |i|
                    %li $#{i*1000}

              .slider-legend.slider-percents
                %ol
                  %li 0%
                  %li 25%
                  %li 50%
                  %li 75%
                  %li 100%

              .slider-cursor#cursor{style: 'left:40%;'}
                .cursor-tooltip.cursor-price.cursor-tooltip-up
                  .inner
                    With a
                    %span.cursor-figure.cursor-price-value $4000
                    budget…
                .cursor-body
                  .cursor-left
                  .cursor-center
                  .cursor-right
                .cursor-tooltip.cursor-percent.cursor-tooltip-down
                  .inner
                    …you can reach
                    %span.cursor-figure.cursor-percent-value 50%
                    of designers.