/= content_for :title, "Put your project in front of the world's best designers"
/= content_for :title, "Ridding the world of bad design, one company at a time"
/ = content_for :title, "Looking for a great designer? You've found 250 of them."
= content_for :title, "Helping startups find great designers"
= content_for :body_class, "home"
= content_for :add_to_head, :home



%section.primary
	.container
		

		.block
			%h2.tagline “Finding the right designer just takes too much time!”

			%p Ever had that thought? The truth is that <strong>looking for a designer sucks</strong>. 
			%img.illustration{:src => "/assets/new/illustration1.png"}
			%p Every hour spent looking at design portfolios is time that you could be working on your company. And even if you <em>do</em> find someone good, there's no guarantee that they’ll be available and interested in your project.

		.block
			%h2 Get a shortlist of recommended designers
			%p Instead, give Folyo a try. We’ll send your project to Folyo's community of vetted freelance designers, and give you a shortlist of designers who are:
			%img.illustration{:src => "/assets/new/illustration2.png"}
			/ %ul.checks
			/ 	%li Pre-approved
			/ 	%li Available
			/ 	%li Interested
			/ 	%li Within Budget
			%p No more wasted time! Read on to find out how Folyo works. 

%section.how-it-works.inverted
	.container
		%h3.subtitle How It Works
		%h2.step.title-1.waypoint Just post your project:
		.message.message-company.message-1.waypoint.bounceIn
			.portrait.portrait-company You
			.contents Our service lets people rate and compare widgets. We're looking for a great designer to help us redesign our iPhone app.

		%h2.step.title-2.waypoint And watch the replies roll in:
		.message.message-designer.message-2.waypoint
			%a.portrait{:href => '#'} 
				%img{:src => '/assets/new/photos/regina.jpg'}
				%span.name Regina Casaleggio
			.contents This sounds like a great project! I'm available and I'd love to learn more. 
		.message.message-designer.message-3.waypoint
			%a.portrait{:href => '#'} 
				%img{:src => '/assets/new/photo.jpg'}
				%span.name Jason Kirtley
			.contents I've got a lot of experience designing mobile apps, so this project is right up my alley!
		.message.message-designer.message-4.waypoint
			%a.portrait{:href => '#'} 
				%img{:src => '/assets/new/photo.jpg'}
				%span.name Jord Riekwel
			.contents I think I'd be a good fit for this, and the budget looks good. Take a look at my portfolio and let me know what you think.

%section.try
	.container
		.block
			%h2 Try Folyo risk-free with our 120% money-back guarantee
			%p If you can't find a designer, we'll refund you completely <em>and</em> give you a 20% discount on next time!

		.block
			%h2 And did we mention we don't take a percentage?
			%p Unlike most other find-a-designer sites, we only charge a <strong>one-time fee</strong>, we <strong>don't</strong> take a percentage of the project budget. 
		
		.cta
			%a.button.button-big{:href => "#"}
				%span.action Get Started
				%span.microcopy $200 one-time fee

%section.footer.inverted
	.container
		%ul.actions
			%li
				%a.button.button-big.button-secondary{:href => "#"}
					%span.action Browse Designers
					%span.microcopy Preview our all-star lineup
			%li
				%a.button.button-big.button-secondary{:href => "#"}
					%span.action Folyo Guides
					%span.microcopy The basics of finding a designer
			%li
				%a.button.button-big.button-secondary{:href => "#"}
					%span.action The Blog
					%span.microcopy Learn something new
			%li
				%a.button.button-big.button-secondary{:href => "#"}
					%span.action Contact Us
					%span.microcopy We'll be happy to talk
		%ul.links
			%li
				%a{:href => "/about"} About
			%li
				%a{:href => "/guides"} Guides
			%li
				%a{:href => "/partners"} Partners
			%li
				%a{:href => "/contact"} Contact
			%li
				%a{:href => "/blog"} Blog
			%li
				%a{:href => "http://twitter.com/yofolyo"} Follow us on Twitter
			%li &copy; 2013 Folyo
