.markdown-help
  %p Add two lines to start a new paragraph.
  %br
  %p - This is a list.
  %p - You can make things <strong>**bold**</strong>
  %p - … or <span class='italic'>*italic*</span>
  %p - … or add [a link to Folyo](http://www.folyo.me)