= content_for :title, "Partners"

.block
	%h4 Partner up with Folyo!
	%p If you're an <strong>incubator</strong>, <strong>coworking space</strong>, <strong>job board</strong>, or any other organization whose members might need the services of a great designer, why not become Folyo's partner?
	%p Your members will get a <strong>20% discount</strong> on any job offers they post here. 
	
= content_for :sidebar do
	.block
		%h4 Our Partners
		%a{:href=>"http://jobs.usethesource.com/jobs", :target => "_blank"}
			%img{:src=>"images/usethesource.png", :width => "320px"}
