%head
  %title
  :plain
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <style type="text/css">
      .email_body{
        background:#eaf2f6;
        line-height:1.5;
        padding:20px;
        font-family:"Helvetica Neue", Helvetica, Arial, Sans-serif
      }
      p{
        margin:0 0 20px 0;
      }
      .intro{
        font-size:14px;
        color:#7a8d99;
      }
      .message{
        font-size:16px;
        background:#fff;
        padding:20px;
        color:#485056;
      }
      strong{
        font-weight:bold;
      }
      .message a.button{
        background:#86d259;
        color:white;
        font-weight:bold;
        font-size:14px;
        padding:10px;
        display:inline-block;
        text-decoration:none;
      }
      .message span{
        display:inline-block;
        margin-left:5px;
        font-weight:bold;
        font-size:14px;
        padding:10px 0;
        color:#7a8d99;
      }
    </style>