%h4 You didn't make it :(
%p Sorry but you weren't selected for Folyo this time. <a href="http://blog.folyo.me/so-you-didnt-make-it/">Here are a couple reasons</a> why that might be the case.
= link_to 'Update your profile & Reapply', reapply_designer_path(current_user), class: 'button big-button', style: 'width: 300px;'