.reply-offer
  %h2 Reply to this offer
  %form
  = simple_form_for job_offer.designer_replies.build, :url => offer_replies_path(job_offer) do |f|
    = f.input :message, as: :limited_text, label: "Add a short message for the client (optional)", input_html: {cols: 34, rows: 2}
    = f.submit value: 'Send your profile', class: 'button clearfix submit-reply'