.reply-offer
  - if @reply.persisted?
    %h2 Edit your previous reply
  - else
    %h2 Reply to this offer
  %form

  = simple_form_for @reply, url: @reply.persisted? ? offer_reply_path(@job_offer, @reply) : offer_replies_path(@job_offer) do |f|
    = f.input :message, as: :limited_text, label: "Add a short message for the client (optional)"
    = f.submit value: 'Send your profile', class: 'button clearfix submit-reply'