@import "compass/reset";
@import "compass/css3";

@import "includes/colors";
@import "includes/mixins";
@import "includes/fancybox";

body.carrousel {
  background: none;
  overflow: hidden;
}

#main, #carrousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

 #carrousel-resources {
  height: 100%;
  position: absolute;
  overflow: hidden;
  // left: 0, -100% ou -200%;

  iframe {
    float: left;
    height: 100%;
  }
}

#carrousel-nav-bar {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  a {
    color: white;
  }
  form {
    display: none;
  }
}