@import "compass/css3";
@import "includes/colors";
// @import "includes/variables";

$spacing: 30px;

@mixin small-email(){
  @media screen and (max-width: 600px) {
    @content;
  }
}

.container{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.inner{
  margin: 0 10px;
}
.block{
  margin-bottom: $spacing;
}
/* ------------------------------------------- begin custom styles -------------------------------------------  */

html, body{
  margin: 0;
  padding: 0;
}

body, table.body{
  line-height: 1.5;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  color: $text;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding:0;
  margin: 0;
  text-align: left;
}

// Header

.header{
  margin-bottom: $spacing;
  .inner{
    border-bottom: 1px solid $lightgrey7;
  }
  table{
    width: 100%;
  }
  .logo{
    text-align: left;
  }
  .view-online{
    text-align: right;
  }
}
.header img{
  max-height: 30px;
}

.header a, .header a:link, .header a:visited{
}

.header a:hover{
}



// designer-message

.designer-message{
  border: 3px solid $lightgrey7;
  @include border-radius(3px);
  padding: 20px;
}

// designer-profile


.designer-portrait{
  img{
    background: $lightgrey7;
    @include border-radius(50%);
    width: 50px;
  }
  padding-right: 10px;
}

.designer-data{
  white-space: nowrap;
}

.designer-name{
  line-height: 1.4;
  margin-bottom: 0px;
}
.designer-location{
  color:$lightertext;
  margin-bottom: 0;
  line-height: 1.4;
}

// designer-actions
.designer-actions{
  width: 100%;
  td{
    width: 48%;
    &.shortlist{
    }
  }
}

.button{ // base button style
  font-weight:bold();
  text-align:center;
  @include border-radius(3px);
  cursor:pointer;
  background:$primaryButton;
  display: block;
  tr td{
    padding: 0;
  }
  a{
    display: block;
    text-align: center;
    padding:10px 15px;
    line-height:1;
    font-size:16px;
    color:white;
  }
  a:active{
    position:relative;
    top:1px;
  }
  &.hide{
    background: $red1;
  }
}

// designer-portfolio
.designer-portfolio{
  .eight{
    width: 333px;
  }
  .four{

  }
}
.portfolio-sample{
  border: 3px solid $lightgrey7;
  @include border-radius(3px);
  &, img{
    width: 100% !important;
    display: block;
  }
  &.image2{
    margin-bottom: 15px;
  }

}
.panel{
  border:none;
  padding: 20px !important;
}

// links

.links{
  .link{
    @include small-email{
      display: table !important;
    }
    td{
      padding: 0;
    }
    a{
      display: block;
      width: 100%;
      background: $lightgrey7;
      text-align: center;
      @include border-radius(3px);
      padding: 10px 0;
      font-weight: bold;
    }
  }
}

// footer

.footer{
  margin-top: 10px;
}