@charset "utf-8";

// compass
@import "compass/reset";
@import "compass/css3";

// meta stuff
@import "includes/fonts";
@import "mixins/colors";
@import "mixins/grid";
@import "mixins/mixins";

@font-face {
    font-family: 'FunktionRegular';
    src: asset-url('funktion-webfont.eot', font);
    src: asset-url('funktion-webfont.eot', font) format('embedded-opentype'),
         asset-url('funktion-webfont.woff', font) format('woff'),
         asset-url('funktion-webfont.ttf', font) format('truetype'),
         asset-url('funktion-webfont.svg', font) format('svg');
    font-weight: normal;
    font-style: normal;
}


h2, h3, .to-do, .presents, .intro p, .note h4{
	font-family:"FunktionRegular";
}
html, body{
	padding:0;
	margin:0;
}
body{
	background:$darkgrey1 image-url('blackboard-bg.png') center center;
	color:#eaeef2;
	font-size:19px;
	line-height:1.5;
}
p{
	line-height:1.7;
	margin:0 0 25px 0;
}
p.small{
	font-size:14px;
	color:$lightgrey5;
}
a{
	color:$blue1;
	text-decoration:none;
	font-weight:bold;
	&:hover{
		color:white;
	}
}
h2{
	text-transform:uppercase;
	text-shadow:3px 3px 0px black(0.35);
	margin:0 0 10px 0;
	font-weight:normal;
}
.container{
	text-shadow:0px 1px 1px black(0.55);


}
.header{
	margin-bottom:100px;
	background:image-url('header-bg.png') no-repeat;
	height:55px;
	line-height:55px;

	.logo{
		float:left;
		h1{
			margin:0 0 0 8px;
			display:inline-block;
			a{
				background:image-url('guide-logo.png') no-repeat left center;
				display:inline-block;
				width:90px;
				height:55px;
				text-indent:-900px;
				overflow:hidden;
			}
		}
		.presents{
			font-size:14px;
			display:inline-block;
			height:55px;
			vertical-align:top;
		}
	}
	.social{
		float:right;
		padding-right:10px;
	}
}
.social{
	.twitter, .facebook, .google{
		float:left;
		margin-left:5px;
	}
	.twitter{
		margin-top:4px;
	}
	.facebook{
		margin-top:-1px;
	}
	.google{
		margin-top:5px;
	}
}
.intro{
	margin-bottom:100px;
	h1.title{
		text-align:center;
		img{
			width:100%;
			max-width:574px;
		}
	}
	p{
		font-size:18px;
		color:$lightgrey5;
	}
}
.block{
	margin-bottom:100px;
	position:relative;
	p{
		position:relative;

		.callout{
			position:absolute;
			top:0px;
			right:-302px;
			width:198px;
			font-size:15px;
			color:$lightgrey5;
			quote{
				font-style:italic;
				display:block;
				margin-bottom:10px;
				strong{
					color:#c8d7e0;
				}
			}
			cite{
				font-style:normal;
				display:block;
				text-align:right;
				color:white;
			}
			a{
				display:block;
				text-align:right;
			}
		}
	}
}
.extra .social{
	background:image-url('header-bg.png') no-repeat;
	height:55px;
	line-height:55px;
	padding-left:10px;
}



.to-do{
	ul{
		list-style-type:none;
		padding:0;
		margin:0;
		li{
			background:image-url('green-checkmark.png') no-repeat top left;
			padding:2px 0 5px 34px;
			margin-bottom:10px;
			font-size:14px;
			line-height:1.7;
		}
	}
	h3{
		background:image-url('to-do-separator.png') no-repeat bottom center;
		padding-bottom:10px;
		margin-bottom:10px;
		text-shadow:none;
		color:$green1;
		font-weight:normal;
		text-transform:uppercase;
		font-size:18px;
	}
	em{
		background:image-url('green-highlight.png') no-repeat center center;
		padding:4px 5px;
		font-style:normal;
	}
}
.extra-credit{
	margin-bottom:100px;
	.links{
		list-style-type:none;
		padding:0px;

		li{
			padding:2px 0 5px 35px;
			background:image-url('green-link.png') no-repeat  left 5px;

			margin-bottom:15px;
			a{
				display:block;
				font-size:19px;
			}
			span{
				font-size:16px;
				display:block;
				color:$lightgrey5;
				strong{
					color:#c8d7e0;
				}
				&:before{
					content:"–  ";
				}
			}
		}
	}
}
.toc{
	display:none;
	position:fixed;
	top:10px;
	left:10px;
	width:150px;
	background:black(0.2);
}
.extra{
	margin-bottom:100px;
	h3{
		background:image-url('to-do-separator.png') no-repeat bottom center;
		padding-bottom:10px;
		margin-bottom:10px;
	}
}
.dsq-trackback-url, #dsq-sort-by, #dsq-global-toolbar, #dsq-subscribe{
	display:none;
}
#dsq-content h3{
	font-size:14px;
	text-transform:uppercase;
	background:none;
	color:$lightgrey5;
}
.dsq-comment-footer{
	font-size:14px;
	color:$lightgrey5;
}
.colophon{
	h4{
		margin:0 0 5px 0;
	}
	ul{
		font-size:16px;
		margin:0 0 30px 0;
	}
}


// how to write a good job offer


.write-job-offer{


	.intro{
		@include medium{
			@include span-columns(8 omega);
			@include squish(2, 2);
		}
	}
	.content{
		@include medium{
			@include span-columns(8 omega);
			@include post(4);
		}
	}

	.good h2{
		color:$green1;
	}
	.bad h2{
		color:$red1;
	}
	.section{
		position:relative;
		.note{
			@include medium{
			position:absolute;
			top:0px;
			right:-328px;
			width:columns(4);
			}
			font-size:14px;
			color:$lightgrey5;
			h4{
				color:$green1;
				margin:0px;
			}
		}
	}
	.donot{
		h3{
			color:$red1;
		}
		ul li{
			background:image-url('red-mark.png') no-repeat  left top;
		}
	}
	.notes-arrow{
		@include small{
			display:none;
		}
		height:100px;
		width:175px;
		background:image-url('notes-arrow.png') no-repeat;
		z-index:-10;
		position:absolute;
		top:600px;
		right:200px;
	}
}

// how to pick a good designer


.pick-designer{
	.content{
		@include medium{
			@include span-columns(8 omega);
			@include post(4);
		}
	}
	h2{
		background:image-url('guide-visuals.png') no-repeat left center;
		padding:5px 0 5px 52px;
		position:relative;

		&.visuals{			background-image:image-url('guide-visuals.png');}
		&.structure{			background-image:image-url('guide-structure.png');}
		&.insight{			background-image:image-url('guide-insight.png');}
		&.style{				background-image:image-url('guide-style.png');}
		&.communication{		background-image:image-url('guide-communication.png');}
		&.experience{		background-image:image-url('guide-experience.png');}
		&.passion{			background-image:image-url('guide-passion.png');}
		&.personality{		background-image:image-url('guide-personality.png');}
		&.evaluation{		background-image:image-url('guide-evaluation.png');}
		&.normal{
			position:relative;
			z-index:20;
		}
		.mask{
			//background:image-url('grunge-mask-1.png') no-repeat center center;
			position:absolute;
			width:100%;
			height:100%;
			left:0;
			z-index:10;
		}
		.shadow{
			color:black(0.35);
			position:absolute;
			z-index:0;
			left:4px;
			top:4px;
		}
	}

}