@import "compass/css3";
@import "mixins/colors";

$spacing: 15px;

@mixin small-email(){
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin medium-email(){
  @media screen and (min-width: 500px) {
    @content;
  }
}

.container{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.inner{
  margin: 0 10px;
}
.block{
  margin-bottom: $spacing;
}
/* ------------------------------------------- begin custom styles -------------------------------------------  */

html, body{
  margin: 0;
  padding: 0;
}

body{
  line-height: 1.5;
  background: #eff5f7;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  color: $text;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding:0;
  margin: 0;
  text-align: left;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
a{
  text-decoration:none;
  // font-weight: bold;
  &, &:link, &:active, &:visited{
    color: $blue1;
  }
  &:hover{
    color: $blue1;
  }

}
// Header

.header{
  border-bottom: 1px solid $lightgrey1;

  .inner{
    padding: $spacing/2 0;
  }
  table{
    width: 100%;
  }
  .logo{
    text-align: left;
    a, img{
      display: block;
    }
  }
  .view-online{
    text-align: right;
    font-size: 12px;
  }
}
.header img{
  max-height: 30px;
}

.header a, .header a:link, .header a:visited{
}

.header a:hover{
}

.content{
  border-top: 1px solid #fbfbfb;
  padding-top: $spacing;
}
// designer-message

.designer-message-triangle, .job-offer-triangle {
  img{
    display: block;
  }
}

.designer-reply, .job-offer-content {
  background: white;
  @include border-radius(5px);
  padding: $spacing;
  margin-bottom: $spacing;
  @include box-shadow(0px 2px 3px 0px rgba(0,0,0,0.15));
}

.designer-message{
  font-family: georgia, serif;
  line-height: 1.6;
  font-size: 16px;
}

// designer-profile, job-offer

.designer-profile, .job-offer {
  margin-bottom: 5px;
}

.designer-portrait{
  a, img{
    display: block;
  }
  img{
    background: $lightgrey7;
    @include border-radius(50%);
    width: 50px;
  }
  padding-right: 10px;
}

.designer-data {
  white-space: nowrap;
}

.designer-name, .job-offer-title {
  line-height: 1.4;
  margin-bottom: 0px;
  font-size: 18px;
}

.job-offer-title {
  padding: 0 10px;
}

.designer-location, .company-name {
  color:$lightertext;
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 14px;
  a {
    color: $lightertext;
  }
}

.company-name {
  padding: 0 10px;
}


// actions
.designer-actions, .job-offer-actions{
  >table{
    table-layout: fixed;
    width: 100%;
  }
  td{
    &.shortlist{
      padding-right: $spacing/2;
    }
  }
}
.view-profile, .view-job-offer {
  width: 100%;
  padding-bottom: $spacing/2;
}
.button{ // base button style
  font-weight:bold();
  text-align:center;
  @include border-radius(3px);
  cursor:pointer;
  background:$primaryButton;
  display: block;
  tr td{
    padding: 0;
  }
  a{
    display: block;
    text-align: center;
    padding:10px 15px;
    line-height:1;
    font-size:16px;
    color:white;
  }
  a:active{
    position:relative;
    top:1px;
  }
  &.hide{
    background: $red1;
  }
}

// designer-portfolio
.designer-portfolio{
  td{
    display: block;
    width: 100%;
  }
  @include medium-email{
    td{
      display: table-cell;
      width: auto;
    }
    .first{
      padding-right: $spacing;
    }
    .eight{
    width: 296px;
    }
  }
}
.portfolio-sample{
  margin-bottom: $spacing;
  &, img{
    width: 100%;
    display: block;
  }
  &.image2{
    margin-bottom: 15px;
  }

}
.panel{
  border:none;
  padding: 20px !important;
}

// links

.links{
  font-size: 13px;
  text-align: center;
}

.note{
  font-size: 13px;
  text-align: center;
  margin-bottom: $spacing;
}

// job-offer-details

.job-offer-details {

  list-style-type: none;
  padding: 0;

  & > li {
    margin-bottom: 15px;
    margin-left: 0;
    h3 {
      border-bottom: 1px solid $darkgrey2;
      color: $darkgrey2;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }

  ul.skills-list {
    padding: 5px 0;
    li {
      color:#9a9a7a;
      display:inline-block;
      margin-right:5px;
      margin-left: 0;
      padding:5px 5px 3px 3px;
      @include border-radius(3px);
      @include box-shadow(
        inset white 0 1px 0 0
      );
      border: 1px solid #e0e0c4;
      font-size:13px;
      line-height:13px;
      background:#ffffe0;

      img {
        height: 11px;
        max-height: 11px;
        padding-right: 3px;
      }

    }

  }

  .budget p, .timeframe p {
    font-size: 14px;
  }

}

// footer

.footer{
  padding-bottom: $spacing;
  text-align: center;
  font-size: 13px;
}
