h1.title{
	background:image-url('howtopick-title.png') no-repeat;
	width:596px;
	height:135px;
}
.pick-designer #content{
	h2{
		background:image-url('guide-visuals.png') no-repeat left center;
		padding-left:52px;
		position:relative;

		.normal{
			position:relative;
			z-index:20;
		}
		.mask{
			//background:image-url('grunge-mask-1.png') no-repeat center center;
			position:absolute;
			width:100%;
			height:100%;
			left:0;
			z-index:10;
		}
		.shadow{
			color:black(0.35);
			position:absolute;
			z-index:0;
			left:4px;
			top:4px;
		}
	}
	
	#visuals{			background-image:image-url('guide-visuals.png');}
	#structure{			background-image:image-url('guide-structure.png');}
	#insight{			background-image:image-url('guide-insight.png');}
	#style{				background-image:image-url('guide-style.png');}
	#communication{		background-image:image-url('guide-communication.png');}
	#experience{		background-image:image-url('guide-experience.png');}
	#passion{			background-image:image-url('guide-passion.png');}
	#personality{		background-image:image-url('guide-personality.png');}
	#evaluation{		background-image:image-url('guide-evaluation.png');}
}