@import "partials/colors";
@import "partials/mixins";
$blueprint_grid_columns: 12;
$blueprint_grid_width: 22px;
$blueprint_grid_margin: 60px;
@import "blueprint";

#container{
	position:relative;
	@include container;
	margin:0 auto;

	#intro{
		@include prepend(2);
		@include column(8, true);
		@include append(2);	
	}	
	#content{
		@include column(8, true);
		@include append(4);
	}
}
h1.title{
	background-image:image-url('howtowrite-title.png');
	width:596px;
	height:210px;
}
#good h2{
	color:$green1;
}
#bad h2{
	color:$red1;
}
.section{
	position:relative;
	.note{
		position:absolute;
		top:0px;
		right:-328px;
		width:span(4);
		font-size:14px;
		color:$lightgrey5;
		h4{
			color:$green1;
			margin:0px;
		}
	}
}
#donot{
	h3{
		color:$red1;
	}
	ul li{
		background:image-url('red-mark.png') no-repeat  left top;
	}
}
.notes-arrow{
	height:100px;
	width:175px;
	background:image-url('notes-arrow.png') no-repeat;
	z-index:-10;
	position:absolute;
	top:650px;
	right:150px;
}
