%span.callout
	%quote "[Designers should have] <em>a rational, thoughtful design process</em> that balances business needs with user needs— and empathy with those users."
	%cite
		<strong>Jason Putorti</strong>, Mint.com
	= link_to "How to Interview a Designer", "#"