- r = designer_reply
- d = designer_reply.designer

.reply-carrousel-item{class: class_for_reply(r), style: "width: #{width};", data: {left: left, offer_id: r.job_offer.id, path: offer_reply_path(r.job_offer, r, status: params[:status]), shortlist_path: shortlist_offer_reply_path(r.job_offer, r), hide_path: hide_offer_reply_path(r.job_offer, r), title: d.full_name, subtitle: d.short_bio.truncate(70), location: d.location, avatar: d.profile_picture ? d.profile_picture.asset(:thumbnail) : image_path('default-avatar.png'), designer_id: d.slug, status: r.status } }

  .inner
    - if inner
      = render 'inner_reply', designer_reply: designer_reply, with_flash: with_flash
