- d = designer_reply.designer

.reply-carrousel-item{class: class_for_reply(designer_reply), style: "width: #{width};", data: {left: left, path: offer_reply_path(designer_reply.job_offer, designer_reply), title: d.full_name, subtitle: d.short_bio.truncate(70), avatar: d.profile_picture ? d.profile_picture.asset(:thumbnail) : image_path('default-avatar.png'), designer_id: d.slug, status: designer_reply.status } }

  .inner
    - if inner
      = render 'inner_reply', designer_reply: designer_reply
