%html
  %head
    %meta{'http-equiv' => 'Content-Type',     content: 'text/html; charset=utf-8' }
    %meta{'http-equiv' => 'Content-Language', content: 'en-us' }
    %meta{name: 'viewport',                   content: 'width=device-width' }

    %style{ :type => "text/css" }
      = Rails.application.assets['mailer'].to_s.html_safe

  %body
    %table.body
      %tr
        %td.center{align: "center", valign: "top"}
          %center
            %table.row.header
              %tr
                %td.center{align: "center"}
                  %center
                    %table.container
                      %tr
                        %td.wrapper.last
                          %table.twelve.columns
                            %tr
                              %td.six.sub-columns
                                %a{href: "http://folyo.me"}
                                  %img{alt: "Folyo", height: "30", src: image_path('logo-white.png'), width: "67"}/
                              %td.six.sub-columns.last{style: "text-align:right; vertical-align:middle;"}
                                %span.template-label
                                  %a{href: "#"} View this online
                              %td.expander
            %br/
            = yield
