!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type',     content: 'text/html; charset=utf-8' }
    %meta{'http-equiv' => 'Content-Language', content: 'en-us' }
    %meta{name: 'viewport',                   content: 'width=device-width' }

    %style{ :type => "text/css" }
      =# Rails.application.assets['mailer'].to_s.html_safe
      = Rails.application.assets['custom-mailer'].to_s.html_safe

  %body
    .header
      .container
        .inner
          %table
            %tr
              %td.logo
                = link_to root_path do
                  %img{alt: "Folyo", height: "30", src: "http://assets0.folyo.me/emails/logo-white.png", width: "67"}
              %td.view-online
                - if content_for?(:view_online)
                  = link_to 'View this email in your browser', yield(:view_online)
                
    .content
      .container
        .inner
          = yield

    .footer
      .container
        .inner
          %a{href: "http://folyo.me"} &copy; 2014 Folyo